<template>
  <div class="flex items-start container text-purple pl-6 py-8">
    <!-- Filters -->
    <div class="w-2/5 max-w-sm shadow-lg bg-white p-4">
      <div class="flex items-center text-purple">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17.822"
          height="14.491"
          viewBox="0 0 17.822 14.491"
        >
          <path
            id="Path_30"
            data-name="Path 30"
            d="M23.179,12.709a.771.771,0,0,1,.762.762h0a.771.771,0,0,1-.762.762H21.765a.73.73,0,0,0-.631.348,2.138,2.138,0,0,1-1.85,1.044,2.166,2.166,0,0,1-1.85-1.044.758.758,0,0,0-.631-.348H6.9a.771.771,0,0,1-.762-.762h0a.771.771,0,0,1,.762-.762h9.922a.73.73,0,0,0,.631-.348,2.139,2.139,0,0,1,1.85-1.044,2.166,2.166,0,0,1,1.85,1.044.758.758,0,0,0,.631.348ZM19.306,21.5a2.166,2.166,0,0,0-1.85,1.044.758.758,0,0,1-.631.348H6.9a.771.771,0,0,0-.762.762h0a.771.771,0,0,0,.762.762h9.922a.73.73,0,0,1,.631.348,2.139,2.139,0,0,0,1.85,1.044,2.166,2.166,0,0,0,1.85-1.044.758.758,0,0,1,.631-.348H23.2a.771.771,0,0,0,.762-.762h0a.771.771,0,0,0-.762-.762H21.786a.73.73,0,0,1-.631-.348A2.166,2.166,0,0,0,19.306,21.5Zm-8.312-5.092a2.166,2.166,0,0,0-1.85,1.044.758.758,0,0,1-.631.348H6.9a.771.771,0,0,0-.762.762h0a.771.771,0,0,0,.762.762h1.61a.73.73,0,0,1,.631.348,2.139,2.139,0,0,0,1.85,1.044,2.166,2.166,0,0,0,1.85-1.044.758.758,0,0,1,.631-.348H23.2a.771.771,0,0,0,.762-.762h0A.771.771,0,0,0,23.2,17.8H13.474a.73.73,0,0,1-.631-.348A2.166,2.166,0,0,0,10.993,16.408Z"
            transform="translate(-6.14 -11.316)"
            fill="#4d2545"
          />
        </svg>
        <span class="ml-2 text-sm">Filter</span>
      </div>
      <div class="tags  mt-6">
        <p class="px-4 text-purple py-4">
          Union Status
        </p>
        <div class="flex px-4">
          <div
            v-for="union in union_status"
            :key="union.key"
            class="py-2 px-4 border border-purple uppercase mr-2 rounded-full cursor-pointer"
            :class="[union.selected ? 'bg-purple text-white' : 'bg-white text-purple']"
            @click="setTags($event, 'union_status', false)"
          >
            {{ union.name }}
          </div>
        </div>

        <p class="px-5 text-purple py-4">
          Contract type
        </p>
        <div class="flex px-4">
          <div
            v-for="contract_type in contract_types"
            :key="contract_type.key"
            class="py-2 px-4 uppercase border border-orange-500 mr-2 rounded-full cursor-pointer"
            :class="[contract_type.selected ? 'bg-orange-500 text-white' : 'bg-white text-orange-500']"
            @click="setTags($event, 'contract_types', false)"
          >
            {{ contract_type.name }}
          </div>
        </div>
        <p class="px-4 text-purple pt-4 pb-2">
          Production Type
        </p>
        <div class="flex flex-wrap px-4">
          <div
            v-for="production_type in production_types"
            :key="production_type.key"
            class="py-2 px-4 uppercase border border-pink-800 my-2 mr-2 rounded-full cursor-pointer"
            :class="[production_type.selected ? 'bg-pink-800 text-white' : 'bg-white text-pink-800']"
            @click="setTags($event, 'production_types', true)"
          >
            {{ production_type.name }}
          </div>
        </div>

        <div class="w-full">
          <div class="w-1/2 mx-auto mt-6">
            <base-button
              class="shadow-lg w-1/2"
              type="button"
              expanded
              @click="search"
            >
              Search
            </base-button>
          </div>
        </div>
      </div>
    </div>

    <!-- Results -->
    <div class="flex flex-col w-full items-center mt-4">
      <div
        v-for="auditions in generalAuditionList"
        :key="auditions.id"
        class="relative w-130 pb-4"
      >
        <div class="flex flex-col w-full rounded-lg shadow-md overflow-hidden">
          <img
            v-if="!!auditions.cover"
            :src="auditions.cover"
            alt="Cover"
            class="w-full h-32 object-cover cursor-pointer"
            @click="displayAuditionDetails(auditions)"
          >
          <div
            v-else
            class="w-full h-32 bg-purple cursor-pointer"
            @click="displayAuditionDetails(auditions)"
          />
          <div class="flex flex-col p-4">
            <div class="flex flex-wrap mb-2">
              <div class="py-1 px-2 border border-purple uppercase my-1 mr-2 rounded-lg bg-white text-purple text-sm">
                {{ auditions.union }}
              </div>
              <div class="py-1 px-2 border border-orange-500 uppercase my-1 mr-2 rounded-lg bg-white text-orange-500 text-sm">
                {{ auditions.contract }}
              </div>
              <div
                v-for="etiquetas in auditions.production"
                :key="etiquetas"
                class="py-1 px-2 border border-pink-800 uppercase my-1 mr-2 rounded-lg bg-white text-pink-800 text-sm"
              >
                {{ etiquetas }}
              </div>
            </div>

            <span class="text-2xl truncate mb-3">{{ auditions.title }}</span>

            <span class="description text-sm mb-10">{{ auditions.description }}</span>
          </div>

          <div>
            <span class="description text-sm mb-4 px-2">{{ auditions.number_roles }} Roles Available</span>
            <div class="flex w-full">
              <div
                v-for="roles in auditions.roles"
                :key="roles.id"
                class="px-1 py-2 cursor-pointer"
                @click="displayRoleDetails(auditions, roles)"
              >
                <img
                  :src="roles.image.url"
                  alt
                  class="h-10 w-10 rounded-full"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <modal
      class="flex flex-col w-full items-center"
      :width="640"
      height="auto"
      name="pass_detail"
    >
      <div>
        <div class="w-130">
          <div class="flex flex-col w-full shadow-md overflow-hidden">
            <img
              v-if="!!singleAuditionDetail.cover"
              :src="singleAuditionDetail.cover"
              alt="Cover"
              class="w-full h-32 object-cover"
            >
            <div
              v-else
              class="w-full h-32 bg-purple"
            />
            <div class="flex flex-col p-4">
              <span class="text-sm truncate mb-3">
                <span class="font-bold">Contract Type: </span>
                <span class="capitalize">{{ singleAuditionDetail.contract }}</span>
              </span>
              <span class="text-sm truncate mb-3">
                <div
                  v-for="contract in singleAuditionDetail.dates"
                  :key="contract.id"
                >
                  <p v-if="contract.type == 'contract'">
                    <span class="font-bold">Contract Dates:</span>
                    {{ contract.from | formatDate }} - {{ contract.to | formatDate }}
                  </p>
                </div>
              </span>
              <span class="text-sm truncate mb-3">
                <div
                  v-for="contract in singleAuditionDetail.dates"
                  :key="contract.id"
                >
                  <p v-if="contract.type == 'rehearsal'">
                    <span class="font-bold">Rehearsal Dates:</span>
                    {{ contract.from | formatDate }} - {{ contract.to | formatDate }}
                  </p>
                </div>
              </span>
              <span class="truncate mb-3">
                <div class="w-full">
                  <p class="text-lg font-bold">Personal Information</p>
                  <p class="text-justify text-sm">{{ singleAuditionDetail.personal_information }}</p>
                </div>
              </span>
              <span class="text-sm truncate mb-3">
                <div class="w-full">
                  <p class="text-lg font-bold">Additional Information</p>
                  <p class="text-justify text-sm">{{ singleAuditionDetail.additional_info }}</p>
                </div>
              </span>

              <span class="text-2xl font-bold truncate mb-3">{{ singleAuditionDetail.agency }}</span>
            </div>

            <div
              v-if="singleAuditionDetail.location != null"
              class="w-full"
            >
              <GmapMap
                :center="{lat:latitud, lng:longitud}"
                :zoom="7"
                map-type-id="terrain"
                class="w-full h-32"
              />
            </div>
          </div>
        </div>
      </div>
    </modal>

    <modal
      class="flex flex-col w-full items-center"
      :width="640"
      height="auto"
      name="role_detail"
    >
      <div>
        <div class="w-130 mb-4">
          <div class="flex flex-col w-full overflow-hidden">
            <img
              v-if="!!singleAuditionDetail.cover"
              :src="singleAuditionDetail.cover"
              alt="Cover"
              class="w-full h-32 object-cover"
            >
            <div
              v-else
              class="w-full h-32 bg-purple"
            />
            <div class="flex flex-col p-4">
              <div class="flex flex-wrap mb-2">
                <div class="py-1 px-2 border border-purple uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-purple text-sm">
                  {{ singleAuditionDetail.union }}
                </div>
                <div class="py-1 px-2 border border-orange-500 uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-orange-500 text-sm">
                  {{ singleAuditionDetail.contract }}
                </div>
                <div
                  v-for="etiquetas in singleAuditionDetail.production"
                  :key="etiquetas"
                  class="py-1 px-2 border border-pink-800 uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-pink-800 text-sm"
                >
                  {{ etiquetas }}
                </div>
              </div>

              <span class="text-2xl text-center truncate mb-3">{{ singleAuditionDetail.title }}</span>

              <span class="description text-center text-sm mb-10">{{ singleAuditionDetail.description }}</span>

              <div class="w-1/2 mx-auto">
                <button
                  class="upcomingbtn text-center w-full mx-auto py-2 h-10 px-3 bg-white border rounded-full"
                  @click="addMaterialsToMyMedia()"
                >
                  Audition Materials to My Media
                </button>
              </div>

              <div
                v-if="displayOnlySaveAudition"
                class="w-1/2 mx-auto py-4"
              >
                <button
                  class="appointmentbtn text-center text-white w-full h-10 px-3 rounded-full"
                  @click="saveToUpcomingAudition();"
                >
                  Save Audition
                </button>
              </div>

              <div
                v-if="!displayOnlySaveAudition"
                class="flex justify-between flex-wrap w-3/4 py-4 w-full"
              >
                <div class="w-5/12">
                  <button
                    class="appointmentbtn text-center text-white w-full h-10 px-3 mx-auto rounded-full"
                    @click="saveToUpcomingAudition();"
                  >
                    Save Audition
                  </button>
                </div>
                <div class="w-5/12">
                  <button
                    class="appointmentbtn text-center text-white w-full h-10 px-3 mx-auto rounded-full"
                    @click="saveToRequestAudition()"
                  >
                    Request Audition
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import axios from 'axios';
import {
  mapActions,
  mapGetters,
} from 'vuex';

const $ = require('jquery');

window.$ = $;
export default {
  data() {
    return {
      generalAuditionList: [],
      singleAuditionDetail: {},
      singleAuditionRole: {},
      displayOnlySaveAudition: false,
      unionSelected: '',
      contractSelected: '',
      productionSelected: '',
      longitud: 0,
      latitud: 0,
      isLoading: true,
      union_status: [{
        value: 'any',
        name: 'Any',
        selected: false,
      },
      {
        value: 'union',
        name: 'Union',
        selected: true,
      },
      {
        value: 'nounion',
        name: 'Nounion',
        selected: false,
      },
      ],
      contract_types: [{
        key: 'any',
        name: 'Any',
        selected: false,
      },
      {
        key: 'paid',
        name: 'Paid',
        selected: true,
      },
      {
        key: 'unpaid',
        name: 'Unpaid',
        selected: false,
      },
      ],
      production_types: [{
        key: 'theater',
        name: 'Theater',
        selected: true,
      },
      {
        key: 'film',
        name: 'Film',
        selected: false,
      },
      {
        key: 'voiceover',
        name: 'VoiceOver',
        selected: false,
      },
      {
        key: 'commercials',
        name: 'Commercials',
        selected: false,
      },
      {
        key: 'performing arts',
        name: 'Performing Arts',
        selected: false,
      },
      {
        key: 'modeling',
        name: 'Modeling',
        selected: false,
      },
      {
        key: 'tv & video',
        name: 'TV & Video',
        selected: false,
      },
      ],
    };
  },

  methods: {
    setTags({
      target,
    }, type, multiple = false) {
      const text = target.textContent.trim();
      const itemSelected = this[type].find(item => item.name === text);
      if (multiple) {
        if (itemSelected.selected) {
          itemSelected.selected = false;
          return;
        }
        itemSelected.selected = true;
        return;
      }

      this[type].forEach(item => (item.selected = false));

      itemSelected.selected = true;
    },

    search() {
      this.unionSelected = this.union_status.find(x => x.selected).name;
      this.contractSelected = this.contract_types.find(x => x.selected).name;
      this.productionSelected = this.production_types.filter(x => x.selected).map(x => x.name).join(',');
      this.onloadAuditionList();
    },

    ...mapActions('generalauditions', ['auditionsGeneralList']),
    async onloadAuditionList() {
      const paramData = {
        base: this.$store.getters['search/searchQuery'],
        union: this.unionSelected,
        contract: this.contractSelected,
        production: this.productionSelected,
      };
      await this.auditionsGeneralList(paramData);

      this.generalAuditionList = this.$store.getters[
        'generalauditions/listGeneralAuditions'
      ];
    },

    async displayAuditionDetails(audition) {
      this.singleAuditionDetail = {};

      this.$modal.show('pass_detail');

      const { data: { data } } = await axios.get(`auditions/show/${audition.id}`);
      this.singleAuditionDetail = data;

      const googleMaps = data.location;
      if (googleMaps != null) {
        this.longitud = googleMaps.longitude;
        this.latitud = googleMaps.latitude;
      }
    },

    async displayRoleDetails(audition, role) {
      this.singleAuditionDetail = {};
      this.singleAuditionRole = role;

      this.$modal.show('role_detail');

      const { data: { data } } = await axios.get(`auditions/show/${audition.id}`);
      this.singleAuditionDetail = data;

      if (this.singleAuditionDetail.online) {
        this.displayOnlySaveAudition = true;
      }
    },

    async saveToUpcomingAudition() {
      this.isLoading = true;
      try {
        const url = 'a/auditions/user';

        const paramData = {
          appointment: this.singleAuditionDetail.appointment_id,
          rol: this.singleAuditionRole.id,
          type: 1,
          online: this.singleAuditionDetail.online !== 0,
        };

        const {
          data: {
            data,
          },
        } = await axios.post(url, paramData);
        if (data) {
          this.$toasted.show(data);
        }
        this.$modal.hide('role_detail');
      } catch (ex) {
        this.$toasted.error(ex.response.data.data);
      } finally {
        this.isLoading = false;
      }
    },

    async saveToRequestAudition() {
      this.isLoading = true;
      try {
        const url = 'a/auditions/user';

        const paramData = {
          appointment: this.singleAuditionDetail.appointment_id,
          rol: this.singleAuditionRole.id,
          type: 2,
          online: this.singleAuditionDetail.online !== 0,
        };

        const {
          data: {
            data,
          },
        } = await axios.post(url, paramData);
        if (data) {
          this.$toasted.show(data);
        }
        this.$modal.hide('role_detail');
      } catch (ex) {
        this.$toasted.error(ex.response.data.data);
      } finally {
        this.isLoading = false;
      }
    },

    async addMaterialsToMyMedia() {
      this.isLoading = true;
      try {
        const url = 'a/media/user/add';

        const paramData = {
          audition: this.singleAuditionRole.auditions_id,
        };

        const {
          data: {
            data,
          },
        } = await axios.post(url, paramData);
        if (data) {
          this.$toasted.show(data);
        }
        this.$modal.hide('role_detail');
      } catch (ex) {
        this.$toasted.error(ex.response.data.data);
      } finally {
        this.isLoading = false;
      }
    },
  },

  created() {
    this.onloadAuditionList();
  },
};
</script>

<style>
@media (min-width: 1280px) {
    .container {
        max-width: 1450px;
    }
}

.upcomingbtn {
    border-color: #4d2545;
    color: #4d2545;
}

.appointmentbtn {
    background-color: #4d2545;
}

.img_modal {
    background-size: cover;
    background-position: center;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 16px;
    max-height: 48px;
}
</style>
