<!-- eslint-disable vue/no-v-html -->
<template>
  <div class="flex justify-center">
    <form
      class="flex flex-col w-full max-w-2xl mt-8"
      @submit.prevent="handleCreate"
    >
      <BaseInput
        v-model="post.title"
        v-validate="'required|max:30'"
        name="title"
        placeholder="Post Title"
        :custom-classes="['border', 'border-gray-300']"
        :message="errors.first('title')"
        expanded
      />

      <BaseInput
        v-model="post.body"
        v-validate="'required|max:5000'"
        name="post"
        placeholder="Post"
        class="h-72"
        :custom-classes="['border', 'border-gray-300']"
        :message="errors.first('post')"
        type="textarea"
        expanded
      />

      <div class="flex items-center rounded-large border border-gray-300 w-full mt-2 p-2">
        <svg
          class="mx-2"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 37.889 37.889"
        >
          <path
            id="Path_31"
            data-name="Path 31"
            d="M16.356,13.394l9.818-9.818A2.095,2.095,0,0,0,23.212.614l-9.818,9.818L3.576.614A2.095,2.095,0,0,0,.614,3.576l9.818,9.818L.614,23.212a2.1,2.1,0,0,0,1.467,3.583,1.985,1.985,0,0,0,1.467-.621l9.846-9.818,9.818,9.818a2.1,2.1,0,0,0,1.467.621,1.985,1.985,0,0,0,1.467-.621,2.094,2.094,0,0,0,0-2.962Z"
            transform="translate(18.947) rotate(45)"
            fill="#4D2545"
          />
        </svg>

        <span
          class="text-gray-400 truncate"
          :class="{ 'text-purple': !!topicsSelected.length }"
        >
          {{ !!topicsSelected.length ? topicsSelected.map(t => t.title).join(', ') : 'Tags' }}
        </span>
      </div>

      <div class="flex flex-wrap mt-4">
        <div
          v-for="topic in topics"
          :key="topic.id"
          class="p-1"
        >
          <div
            class="rounded-full border border-purple py-2 px-4 uppercase cursor-pointer select-none"
            :class="{ 'text-white bg-purple': !!topicsSelected.find(t => t.id === topic.id) }"
            @click="addOrRemoveTopic(topic)"
          >
            {{ topic.title }}
          </div>
        </div>
      </div>

      <BaseButton
        class="mt-12"
        :disabled="isLoading"
        type="submit"
        expanded
      >
        Create
      </BaseButton>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      post: { type: 'forum' },
      topics: [],
      topicsSelected: [],
      isLoading: false,
    };
  },
  async created() {
    try {
      const { data: { data } } = await axios.get('/a/topics');
      this.topics = data;
    } catch (e) {
      this.topics = [];
    }
  },
  methods: {
    async handleCreate() {
      try {
        if (!await this.$validator.validateAll()) {
          return;
        }

        if (!this.topicsSelected.length) {
          this.$toasted.error('You must select at least one topic.');
          return;
        }

        this.isLoading = true;
        this.post.topic_ids = this.topicsSelected;

        await axios.post('/a/forum/posts', this.post);

        this.$router.push({ name: 'forum' });
        this.$toasted.show('Post published successfully.');
      } catch (error) {
        //
      } finally {
        this.isLoading = false;
      }
    },

    addOrRemoveTopic(topic) {
      const index = this.topicsSelected.findIndex(t => t.id === topic.id);
      if (index === -1) {
        this.topicsSelected.push(topic);
      } else {
        this.topicsSelected.splice(index, 1);
      }
    },
  },
};
</script>
