<!-- eslint-disable max-len -->
<template>
  <div class="relative flex items-start container text-purple pl-6 py-8">
    <!-- Filters -->
    <div class="w-2/5 max-w-sm shadow-lg bg-white p-4">
      <div class="flex items-center text-purple">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17.822"
          height="14.491"
          viewBox="0 0 17.822 14.491"
        >
          <path
            id="Path_30"
            data-name="Path 30"
            d="M23.179,12.709a.771.771,0,0,1,.762.762h0a.771.771,0,0,1-.762.762H21.765a.73.73,0,0,0-.631.348,2.138,2.138,0,0,1-1.85,1.044,2.166,2.166,0,0,1-1.85-1.044.758.758,0,0,0-.631-.348H6.9a.771.771,0,0,1-.762-.762h0a.771.771,0,0,1,.762-.762h9.922a.73.73,0,0,0,.631-.348,2.139,2.139,0,0,1,1.85-1.044,2.166,2.166,0,0,1,1.85,1.044.758.758,0,0,0,.631.348ZM19.306,21.5a2.166,2.166,0,0,0-1.85,1.044.758.758,0,0,1-.631.348H6.9a.771.771,0,0,0-.762.762h0a.771.771,0,0,0,.762.762h9.922a.73.73,0,0,1,.631.348,2.139,2.139,0,0,0,1.85,1.044,2.166,2.166,0,0,0,1.85-1.044.758.758,0,0,1,.631-.348H23.2a.771.771,0,0,0,.762-.762h0a.771.771,0,0,0-.762-.762H21.786a.73.73,0,0,1-.631-.348A2.166,2.166,0,0,0,19.306,21.5Zm-8.312-5.092a2.166,2.166,0,0,0-1.85,1.044.758.758,0,0,1-.631.348H6.9a.771.771,0,0,0-.762.762h0a.771.771,0,0,0,.762.762h1.61a.73.73,0,0,1,.631.348,2.139,2.139,0,0,0,1.85,1.044,2.166,2.166,0,0,0,1.85-1.044.758.758,0,0,1,.631-.348H23.2a.771.771,0,0,0,.762-.762h0A.771.771,0,0,0,23.2,17.8H13.474a.73.73,0,0,1-.631-.348A2.166,2.166,0,0,0,10.993,16.408Z"
            transform="translate(-6.14 -11.316)"
            fill="#4d2545"
          />
        </svg>
        <span class="ml-2 text-sm">Filter</span>
      </div>

      <div class="flex flex-wrap mt-6 mb-12">
        <div
          v-for="topic in topics"
          :key="topic.id"
          class="p-1"
        >
          <div
            class="rounded-full border border-purple py-2 px-4 uppercase cursor-pointer select-none"
            :class="{ 'text-white bg-purple': topicsSelected.includes(topic.id) }"
            @click="addOrRemoveTopic(topic)"
          >
            {{ topic.title }}
          </div>
        </div>
      </div>

      <BaseButton
        expanded
        @click="search"
      >
        Search
      </BaseButton>
    </div>

    <!-- Content -->
    <div
      v-if="!!forum.length"
      class="flex flex-col w-full items-center"
    >
      <div
        v-for="post in forum"
        :key="post.id"
        class="rounded shadow-lg p-5 w-full max-w-xl cursor-pointer mb-4"
        @click="$router.push({ name: 'forum.view', params: { post }})"
      >
        <div class="flex items-center w-full">
          <img
            class="rounded-full w-10 h-10"
            :src="post.avatar"
            alt="Avatar"
          >

          <span class="font-medium mx-4">{{ post.name }}</span>

          <div class="rounded-full border border-purple py-2 px-4 ml-auto uppercase select-none">
            {{ post.type }}
          </div>
        </div>

        <p class="text-lg mt-4 truncate font-medium">
          {{ post.title }}
        </p>

        <p class="text-gray-600">
          {{ post.body }}
        </p>

        <span class="block mt-8 text-gray-400">
          {{ post.time_ago }}
        </span>
      </div>
    </div>

    <span
      v-else
      class="flex flex-col w-full items-center"
    >
      No posts.
    </span>

    <!-- Add -->
    <div
      class="fixed right-0 bottom-0 mr-8 mb-8 rounded-full shadow-xl bg-purple p-4 cursor-pointer"
      @click="$router.push({ name: 'forum.create' })"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 37.889 37.889"
      >
        <path
          id="Path_31"
          data-name="Path 31"
          d="M16.356,13.394l9.818-9.818A2.095,2.095,0,0,0,23.212.614l-9.818,9.818L3.576.614A2.095,2.095,0,0,0,.614,3.576l9.818,9.818L.614,23.212a2.1,2.1,0,0,0,1.467,3.583,1.985,1.985,0,0,0,1.467-.621l9.846-9.818,9.818,9.818a2.1,2.1,0,0,0,1.467.621,1.985,1.985,0,0,0,1.467-.621,2.094,2.094,0,0,0,0-2.962Z"
          transform="translate(18.947) rotate(45)"
          fill="#fff"
        />
      </svg>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      topicsSelected: [],
      topics: [],
      forum: [],
    };
  },
  async created() {
    try {
      const { data: { data } } = await axios.get('/a/topics');
      this.topics = data;
      this.topicsSelected.push(this.topics[0].id);
      await this.search();
    } catch (e) {
      this.topics = [];
    }
  },
  methods: {
    async search() {
      try {
        const { data: { data } } = await axios.post('/a/forum/posts/find_by_topics', {
          topics_ids: this.topicsSelected,
        });
        this.forum = data;
      } catch (error) {
        this.forum = [];
      }
    },
    addOrRemoveTopic(topic) {
      const index = this.topicsSelected.findIndex(t => t === topic.id);
      if (index === -1) {
        this.topicsSelected.push(topic.id);
      } else {
        this.topicsSelected.splice(index, 1);
      }
    },
  },
};
</script>

<style>
@media (min-width: 1280px) {
  .container {
    max-width: 1450px;
  }
}
</style>
