<template>
  <div class="container text-purple pl-6 py-8">
    <!-- Tabs -->
    <div class="flex justify-center h-10">
      <div
        class="flex flex-col h-10 items-center border-purple px-6 cursor-pointer"
        :class="{ 'border-b': tabSelected === 'Requested' }"
        @click="tabSelected = 'Requested'"
      >
        <p>Requested</p>
      </div>
      <div
        class="flex flex-col h-10 items-center border-purple px-6 cursor-pointer"
        :class="{ 'border-b': tabSelected === 'Upcoming' }"
        @click="tabSelected = 'Upcoming'"
      >
        <p>Upcoming</p>
      </div>
      <div
        class="flex flex-col h-10 items-center border-purple px-6 cursor-pointer"
        :class="{ 'border-b': tabSelected === 'Past' }"
        @click="tabSelected = 'Past'"
      >
        <p>Past</p>
      </div>
    </div>

    <!-- Requested -->
    <div v-if="tabSelected === 'Requested'" class="flex flex-col w-full items-center mt-4">
      <div v-if="!items.length">
        <p>There are no Requested Auditions</p>
      </div>
      <div v-for="item in items" :key="item.key" class="relative w-128 my-4">
        <div class="flex flex-col w-full rounded-lg shadow-md overflow-hidden">
          <img :src="item.media" alt="Cover" class="w-full h-32 object-cover" />

          <div class="flex flex-col p-4">
            <div class="flex flex-wrap mb-2">
              <div
                class="py-1 px-2 border border-purple uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-purple text-sm"
              >{{ item.union }}</div>
              <div
                class="py-1 px-2 border border-orange-500 uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-orange-500 text-sm"
              >{{ item.contract }}</div>
              <div
                v-for="(production, index) in item.production"
                :key="index"
                class="py-1 px-2 border border-pink-800 uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-pink-800 text-sm"
              >{{ production }}</div>
            </div>

            <span class="text-2xl truncate mb-3">{{ item.title }}</span>

            <span class="description text-sm mb-10">{{ item.description }}</span>
          </div>
        </div>

        <base-button
          class="absolute -mr-2 -mb-2 bottom-0 right-0 w-32 text-sm"
          border-classes="rounded-sm rounded-tl-lg"
          @click="obtenerInformacion(item)"
        >Pending</base-button>
      </div>
    </div>

    <!-- Upcoming -->
    <div v-else-if="tabSelected === 'Upcoming'" class="flex flex-col w-full items-center mt-4">
      <div v-if="!items.length">
        <p>There are no Upcoming Auditions</p>
      </div>
      <div v-for="item in items" :key="item.key" class="relative w-128 my-4">
        <div class="flex flex-col w-full rounded-lg shadow-md overflow-hidden">
          <img :src="item.media" alt="Cover" class="w-full h-32 object-cover" />

          <div class="flex flex-col p-4">
            <div class="flex flex-wrap mb-2">
              <div
                class="py-1 px-2 border border-purple uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-purple text-sm"
              >{{ item.union }}</div>
              <div
                class="py-1 px-2 border border-orange-500 uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-orange-500 text-sm"
              >{{ item.contract }}</div>
              <div
                v-for="(production, index) in item.production"
                :key="index"
                class="py-1 px-2 border border-pink-800 uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-pink-800 text-sm"
              >{{ production }}</div>
            </div>
            <span class="text-2xl truncate mb-3">{{ item.title }}</span>
            <span class="description text-sm">{{ item.date }} {{ item.hour }} Appoinment</span>
            <span class="text-sm mb-10">Round: {{ item.round }}</span>
          </div>
        </div>

        <base-button
          class="absolute -mr-2 -mb-2 bottom-0 right-0 w-32 text-sm"
          border-classes="rounded-sm rounded-tl-lg"
          @click="displayUpcomingAuditionDetails(item)"
        >Check In</base-button>
      </div>
    </div>

    <!-- Past -->
    <div v-else-if="tabSelected === 'Past'" class="flex flex-col w-full items-center mt-4">
      <div v-if="!items.length">
        <p>There are no Past Auditions</p>
      </div>
      <div v-for="item in items" :key="item.key" class="relative w-128 my-4">
        <div class="flex flex-col w-full rounded-lg shadow-md overflow-hidden">
          <img :src="item.media" alt="Cover" class="w-full h-32 object-cover" />

          <div class="flex flex-col p-4">
            <div class="flex flex-wrap mb-2">
              <div
                class="py-1 px-2 border border-purple uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-purple text-sm"
              >{{ item.union }}</div>
              <div
                class="py-1 px-2 border border-orange-500 uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-orange-500 text-sm"
              >{{ item.contract }}</div>
              <div
                v-for="(production, index) in item.production"
                :key="index"
                class="py-1 px-2 border border-pink-800 uppercase my-1 mr-2 rounded-lg cursor-pointer bg-white text-pink-800 text-sm"
              >{{ production }}</div>
            </div>

            <span class="text-2xl truncate mb-3">{{ item.title }}</span>

            <span class="description text-sm">{{ item.date }}</span>
            <span class="text-sm mb-10">Round: {{ item.round }}</span>
          </div>
        </div>

        <base-button
          class="absolute -mr-2 -mb-2 bottom-0 right-0 w-32 text-sm"
          border-classes="rounded-sm rounded-tl-lg"
          @click="displayPastAuditions(item)"
        >Check In</base-button>
      </div>
    </div>
    <modal :width="500" height="610" :adaptive="true" name="upcoming_appointment_modal">
      <div
        class="h-56 w-full img_modal"
        :style="{ 'background-image': 'url(' + selectedObject.media + ')' }"
      >
        <button @click="$modal.hide('upcoming_appointment_modal')">
          <i class="material-icons" style="font-size: 35px;color: white;">clear</i>
        </button>
      </div>
      <div class="w-1/2 mx-auto py-6 h-40 bg-white">
        <p class="text-center w-full text-2xl font-bold text">{{ selectedObject.title }}</p>
        <p class="text-center w-full text-base">{{ selectedObject.date | formatDate }}</p>
      </div>
      <div class="w-full h-40 bg-white">
        <div class="w-9/12 mx-auto">
          <div v-if="displayFormUpcoming">
            <div class="flex">
              <base-select
                key="time-input"
                v-model="form.slot"
                v-validate="'required'"
                name="time"
                class="w-11/12"
                placeholder="Time"
                :message="errors.first('time')"
              >
                <option
                  v-for="hours in appointmentHours"
                  :key="hours.id"
                  :value="hours.id"
                >{{ hours.time }}</option>
              </base-select>
            </div>
            <br />
            <div class="w-1/2 mx-auto py-2">
              <button
                v-if="displayFormUpcoming"
                class="appointmentbtn text-center text-white w-full h-10 px-3 mx-auto rounded-full"
                @click="sendUpcomingAudition()"
              >Add to Upcoming</button>
            </div>
          </div>
        </div>
        <div class="w-1/2 mx-auto py-2">
          <button
            v-if="!displayFormUpcoming"
            class="upcomingbtn text-center w-full py-2 h-10 px-3 bg-white border rounded-full"
            @click="sendFastUpcoming()"
          >Add to Upcoming</button>
        </div>
        <div v-if="displayUpdated" class="w-1/2 mx-auto py-3">
          <button
            class="appointmentbtn text-center text-white w-full h-10 px-3 mx-auto rounded-full"
            @click="setUpcomingAudition()"
          >I Have and Appointment</button>
        </div>
      </div>
    </modal>

    <modal :width="500" height="780" :adaptive="true" name="upcoming_detail">
      <div
        class="h-40 w-full img_modal"
        :style="{ 'background-image': 'url(' + selectedObjectUpcomingDetail.media + ')' }"
      >
        <button @click="$modal.hide('upcoming_detail')">
          <i class="material-icons" style="font-size: 35px;color: white;">clear</i>
        </button>
      </div>
      <div class="w-1/2 mx-auto py-4 h-40 bg-white">
        <p class="text-center text-2xl font-bold w-full">{{ selectedObjectUpcomingDetail.title }}</p>
        <p class="text-center text-base w-full">{{ selectedObjectUpcomingDetail.date | formatDate }}</p>
        <p class="text-center text-base w-full">{{ selectedObjectUpcomingDetail.hour }} Appoinment</p>
      </div>
      <div class="w-full h-20 bg-white">
        <div v-if="displayNormalAudition" class="w-9/12 mx-auto">
          <div v-if="!hideQrCode" class="w-full mx-auto py-2">
            <qr-code class="px-24 px-" :size="155" :text="qrData" error-level="Q" />
          </div>

          <div v-if="displayUpdated" class="overflow-auto w-full">
            <p class="text-xl font-bold">Updates</p>
            <ul>
              <li v-for="updated in updatedAuditionList" :key="updated.id">
                <p class="text-lg">{{ updated.title }}</p>
                <p class="text-base">&nbsp;&nbsp; {{ updated.hour }} ago</p>
              </li>
            </ul>
          </div>

          <div v-if="displayWaitList" class="overflow-auto w-full">
            <p class="text-xl font-bold">Wait</p>
            <table style="width:100%">
              <tr v-for="wait in waitListAudition" :key="wait.id">
                <th>{{ wait.name }}</th>
                <th>{{ wait.time }}</th>
              </tr>
            </table>
          </div>
          <div class="w-1/2 mx-auto py-2">
            <button
              class="upcomingbtn text-center w-full py-2 h-10 px-3 bg-white border rounded-full"
              @click="getUpdatesByAudition()"
            >View Updates</button>
          </div>
          <div class="w-1/2 mx-auto py-2">
            <button
              class="upcomingbtn text-center w-full py-2 h-10 px-3 bg-white border rounded-full"
              @click="getWaitListByAudition()"
            >View Waitlist</button>
          </div>
          <div class="w-1/2 mx-auto py-3">
            <button
              class="appointmentbtn text-center text-white w-full h-10 px-3 mx-auto rounded-full"
              @click="$modal.hide('upcoming_detail')"
            >Finish</button>
          </div>
        </div>
        <!-- Fin online -->
        <div v-if="!displayNormalAudition" class="w-9/12 mx-auto">
          <div v-if="isUploadImg" class="w-full rounded-lg shadow-lg overflow-hidden mb-3">
            <div class="flex-col p-4">
              <iframe
                class="w-full h-24"
                :src="resourceGeneralVideo"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              />
            </div>
            <div class="p-2 bg-purple">
              <span class="text-base truncate mb-3 text-white uppercase">{{ resourceNameVideo }}</span>
            </div>
          </div>

          <div v-if="displayBtns" class="w-1/2 mx-auto py-2">
            <div class="flex w-full bg-grey-lighter">
              <label
                class="upcomingbtn text-center w-full py-2 h-10 px-3 bg-white border rounded-full shadow-lg tracking-wide border cursor-pointer"
              >
                <span class="mt-2 text-center text-base leading-normal">Upload Videos</span>
                <!-- <input type='file' class="hidden" @change="uploadFile('video', $event)"  :disabled="disabledbd"/> -->
                <input type="file" class="hidden" @change="uploadFile('video', $event)" />
              </label>
            </div>
          </div>

          <div
            v-if="isUploadDocument"
            class="flex w-full rounded-lg shadow-lg overflow-hidden mb-3"
          >
            <div class="flex-col p-4 bg-purple">
              <svg
                class="mx-auto"
                xmlns="http://www.w3.org/2000/svg"
                width="25.296"
                height="32.943"
              >
                <path
                  data-name="Trazado 12"
                  d="M20.634 4.411a17.345 17.345 0 00-2.164-1.852 2.164 2.164 0 00-.7-.163v4.683h5.027a1.1 1.1 0 00-.175-.653c-.234-.273-.76-.817-1.988-2.015z"
                  fill="none"
                />
                <g data-name="Grupo 20">
                  <path
                    data-name="Trazado 13"
                    d="M20.634 4.411a17.345 17.345 0 00-2.164-1.852 2.164 2.164 0 00-.7-.163v3.485a1.255 1.255 0 001.286 1.2h3.741a1.1 1.1 0 00-.175-.653c-.234-.275-.76-.819-1.988-2.017z"
                    fill="none"
                  />
                  <path
                    data-name="Trazado 14"
                    d="M25.252 8.059a5 5 0 00-.468-2.668 11.267 11.267 0 00-2.455-2.668A11.922 11.922 0 0019.465.436 6.855 6.855 0 0016.601 0H8.885c-1.871 0-3.332 0-4.5.109A4.9 4.9 0 001.402 1.2 4.223 4.223 0 00.233 3.975C.116 5.064.116 6.425.116 8.168v.49H2.63v-.49a34.943 34.943 0 01.117-3.92 2.445 2.445 0 01.468-1.416A2.878 2.878 0 014.734 2.4c.935-.109 2.338-.109 4.209-.109h5.027a1.255 1.255 0 011.286 1.2v3.533a2.414 2.414 0 002.514 2.341h3.8a1.255 1.255 0 011.286 1.2v14.1a34.943 34.943 0 01-.117 3.92A2.446 2.446 0 0122.271 30a2.878 2.878 0 01-1.52.436c-.935.109-2.28.109-4.15.109H8.885c-1.871 0-3.273 0-4.209-.109A2.878 2.878 0 013.158 30a2.446 2.446 0 01-.468-1.416 34.944 34.944 0 01-.117-3.92v-9.146H.058v9.2c0 1.742 0 3.1.117 4.193a4.223 4.223 0 001.169 2.779 4.9 4.9 0 002.981 1.089q1.754.163 4.559.163h7.6c1.871 0 3.332 0 4.5-.109a4.9 4.9 0 002.981-1.089 4.223 4.223 0 001.169-2.777c.117-1.089.117-2.45.117-4.193V8.494a.563.563 0 00.001-.435zm-6.255-.926a1.255 1.255 0 01-1.286-1.2V2.45a1.318 1.318 0 01.7.163 11.015 11.015 0 012.163 1.851 12.573 12.573 0 011.984 2.07 1.8 1.8 0 01.175.653h-3.736z"
                    fill="#fff"
                  />
                  <path
                    data-name="Trazado 15"
                    d="M2.572 14.867a1.255 1.255 0 00-1.286-1.2A1.255 1.255 0 000 14.867v3.047h2.514v-3.047z"
                    fill="#fff"
                  />
                  <path
                    data-name="Trazado 16"
                    d="M.117 9.147a1.255 1.255 0 001.286 1.2 1.255 1.255 0 001.286-1.2V6.098H.175v3.049z"
                    fill="#fff"
                  />
                </g>
              </svg>
              <span
                class="text-lg truncate mb-3 text-white uppercase"
              >{{ getExtensionByName(resourceNameDoc) }}</span>
            </div>
            <div class="flex-col p-4">
              <span class="text-2xl truncate mb-3">{{ resourceNameDoc }}</span>
            </div>
          </div>

          <div v-if="displayBtns" class="w-1/2 mx-auto py-2">
            <div class="flex w-full bg-grey-lighter">
              <label
                class="upcomingbtn text-center w-full py-2 h-10 px-3 bg-white border rounded-full shadow-lg tracking-wide border cursor-pointer"
              >
                <span class="mt-2 text-center text-base leading-normal">Upload Documents</span>
                <!-- <input type='file' class="hidden" @change="uploadFile('doc', $event)" :disabled="disabledbd || disabledbi" /> -->
                <input type="file" class="hidden" @change="uploadFile('doc', $event)" />
              </label>
            </div>
          </div>
          <div v-if="displayBtns" class="w-1/2 mx-auto py-6">
            <button
              class="appointmentbtn text-center text-white w-full h-10 px-3 mx-auto rounded-full"
              @click="$modal.hide('upcoming_detail')"
            >Submit</button>
          </div>
        </div>
      </div>
    </modal>
    <!-- final upcoming -->

    <!-- inicio feedback -->
    <modal :width="500" height="680" :adaptive="true" name="pass_detail">
      <div
        class="h-40 w-full img_modal"
        :style="{ 'background-image': 'url(' + selectedObjectPassDetail.media + ')' }"
      >
        <button @click="$modal.hide('pass_detail')">
          <i class="material-icons" style="font-size: 35px;color: white;">clear</i>
        </button>
      </div>
      <div class="w-1/2 mx-auto py-4 h-32 bg-white">
        <p class="text-center text-2xl font-bold w-full">{{ selectedObjectPassDetail.title }}</p>
        <p
          class="text-center text-base w-full"
        >Instant Feedback {{ roundText > 0 ? 'For Round ' + roundText : '' }}</p>
      </div>
      <div class="w-full h-40 bg-white">
        <div class="w-9/12 mx-auto">
          <div class="mx-auto">
            <img class="w-4/12 h-32 mx-auto" :src="imgSrcFeedbackFinal" alt="emoji_feedback" />
          </div>
          <div class="flex flex-wrap w-full">
            <div class="w-1/2 mx-auto py-2">
              <p class="text-center font-bold">Call Back</p>
              <button
                class="upcomingbtn text-center w-full py-2 h-10 px-3 bg-white border rounded-full capitalize"
              >{{ feddbackObj.callback === 1 ? 'YES' : 'NO' }}</button>
            </div>
            <div class="w-1/2 mx-auto py-2">
              <p class="text-center font-bold">Work On</p>
              <button
                class="upcomingbtn text-center w-full py-2 h-10 px-3 bg-white border rounded-full capitalize"
              >{{ feddbackObj.work }}</button>
            </div>
          </div>

          <div class="w-4/6 mx-auto py-3">
            <p class="text-center font-bold">Recommendation</p>
            <button
              class="appointmentbtn text-center text-white w-full h-10 px-3 mx-auto rounded-full capitalize"
            >{{ feddbackObj.comment }}</button>
          </div>

          <div class="w-1/2 mx-auto py-3">
            <button
              class="appointmentbtn text-center text-white w-full h-10 px-3 mx-auto rounded-full"
              @click="$modal.hide('pass_detail')"
            >Finish</button>
          </div>
        </div>
      </div>
    </modal>
    <!-- fin feedback -->
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { mapActions, mapGetters } from "vuex";
import TokenService from "../services/core/TokenService";

const $ = require("jquery");

window.$ = $;

export default {
  data() {
    return {
      displayBtns:true,
      form: {},
      tabSelected: "Requested",
      isLoading: false,
      items: [],
      selectedObject: {},
      selectedObjectUpcomingDetail: {},
      selectedObjectPassDetail: {},
      displayFormUpcoming: false,
      appointmentHours: [],
      qrData: {},
      updatedAuditionList: [],
      waitListAudition: [],
      hideQrCode: false,
      displayUpdated: false,
      displayWaitList: false,
      displayNormalAudition: false,
      isUploadImg: false,
      isUploadDocument: false,
      resourceGeneral: null,
      resourceGeneralVideo: null,
      resourceNameVideo: null,
      resourceNameDoc: null,
      resourceImg: null,
      disabledbi: false,
      disabledbd: false,
      feddbackObj: [],
      imgSrcFeedbackFinal: 0,
      recommendationByAppointment: "",
      roundText: 0
    };
  },
  watch: {
    tabSelected: {
      immediate: true,
      async handler(value) {
        this.items = [];
        this.isLoading = true;
        try {
          let url = "a/auditions/user/requested";
          if (value === "Upcoming") {
            url = "a/auditions/user/upcoming";
          } else if (value === "Past") {
            url = "a/auditions/user/pass";
          }
          const {
            data: { data }
          } = await axios.get(url);
          this.items = data;
        } catch (e) {
          console.log(e);
        } finally {
          this.isLoading = false;
        }
      }
    }
  },
  methods: {
    getExtensionByName(value) {
      if (value !== undefined) {
        return;
      }
      return value.substr(value.lastIndexOf(".") + 1).toLowerCase();
    },

    obtenerInformacion(value) {
      this.displayFormUpcoming = false;
      this.displayUpdated = true;
      this.$modal.show("upcoming_appointment_modal");

      console.log("Hola");
      console.log(value);
      this.selectedObject = value;
    },
    async setUpcomingAudition() {
      this.displayFormUpcoming = true;
      this.isLoading = true;
      try {
        const url = `appointments/show/${this.selectedObject.appointment_id}/notwalk`;
        const {
          data: { data }
        } = await axios.get(url);
        this.appointmentHours = data.slots;
      } catch (error) {
        console.log(error);
      } finally {
        this.isLoading = false;
      }
    },
    async sendFastUpcoming() {
      this.isLoading = true;
      try {
        const url = `a/auditions/user/update/${this.selectedObject.id}`;
        const {
          data: { data }
        } = await axios.put(url, null);
        if (data) {
          this.$toasted.show(data);
        }
        this.$modal.hide("upcoming_appointment_modal");
        this.tabSelected = "Upcoming";
      } catch (ex) {
        this.$toasted.error(ex);
        console.log(`HOLA ${ex}`);
      } finally {
        this.isLoading = false;
      }
    },
    async sendUpcomingAudition() {
      this.isLoading = true;
      try {
        const url = `a/auditions/user/update/${this.selectedObject.id}`;

        const paramData = {
          slot: {
            slot: this.form.slot,
            appoinment: this.selectedObject.appointment_id
          }
        };
        const {
          data: { data }
        } = await axios.put(url, paramData);
        if (data) {
          this.$toasted.show(data);
        }
        this.$modal.hide("upcoming_appointment_modal");
        this.tabSelected = "Upcoming";
      } catch (ex) {
        this.$toasted.error(ex);
        console.log(`HOLA ${ex}`);
      } finally {
        this.isLoading = false;
      }
    },
    async displayUpcomingAuditionDetails(value) {
      try {
        const { data: { data } } = await axios.get(`/media/online?appointment_id=${value.appointment_id}&performer_id=${TokenService.getUserId()}`);
        Object.values(data).forEach((value, index)=>{
          this.displayBtns = false;
          switch (value.type) {
            case "video":
              this.resourceGeneralVideo = value.url;
              this.isUploadImg = true;
              break;
            case "doc":
              this.resourceNameDoc = value.name;
              this.isUploadDocument = true;
              break;
            default:
              break;
          }
        });
      } catch (e) {
        this.displayBtns = true;
      } finally {
        this.isLoading = false;
      }
      this.hideQrCode = false;
      this.displayUpdated = false;
      this.displayWaitList = false;
      this.selectedObjectUpcomingDetail = value;
      // this.isUploadImg = false;
      // this.isUploadDocument = false;
      this.disabledbi = false;
      this.disabledbd = false;
      if (value.online === 0) {
        this.displayNormalAudition = true;
        this.qrData = JSON.stringify({
          appointmentId: value.appointment_id,
          auditionId: value.auditions_id,
          userId: TokenService.getUserId(),
          rolId: value.rol,
          hour: value.hour
        });
      } else {
        this.displayNormalAudition = false;
      }
      this.$modal.show("upcoming_detail");
    },

    async getUpdatesByAudition() {
      this.isLoading = true;
      this.hideQrCode = true;
      this.displayUpdated = true;
      this.displayWaitList = false;
      const auditionId = this.selectedObjectUpcomingDetail.auditions_id;
      const finalUpdatedAuditionList = [];
      try {
        const url = `monitor/show/${this.selectedObjectUpcomingDetail.auditions_id}`;
        const {
          data: { data }
        } = await axios.get(url);
        console.log(data);
        this.updatedAuditionList = data;
        let hours;
        $.each(this.updatedAuditionList, (key, value) => {
          if (value.appointment_id === auditionId) {
            hours = moment(value.updated_at, "HHmmss").fromNow(true);
          }
          finalUpdatedAuditionList.push({
            title: value.title,
            hour: hours
          });
        });
        this.updatedAuditionList = finalUpdatedAuditionList;
      } catch (ex) {
        console.log(ex);
      } finally {
        this.isLoading = false;
      }
    },

    async getWaitListByAudition() {
      this.isLoading = true;
      this.hideQrCode = true;
      this.displayUpdated = false;
      this.displayWaitList = true;
      const appointmentId = this.selectedObjectUpcomingDetail.appointment_id;
      try {
        const url = `appointments/auditions/${this.selectedObjectUpcomingDetail.appointment_id}`;
        const {
          data: { data }
        } = await axios.get(url);
        console.log(data);
        this.waitListAudition = data;
      } catch (ex) {
        console.log(ex);
      } finally {
        this.isLoading = false;
      }
    },

    async displayPastAuditions(value) {
      this.$modal.show("pass_detail");
      this.selectedObjectPassDetail = value;
      try {
        const url = `a/feedbacks/final/${this.selectedObjectPassDetail.appointment_id}`;
        const {
          data: { data }
        } = await axios.get(url);
        this.feddbackObj = data;
        this.roundText = this.feddbackObj.round;
        switch (this.feddbackObj.evaluation) {
          case 5:
            this.imgSrcFeedbackFinal = require("@/assets/img/1.png");
            break;
          case 4:
            this.imgSrcFeedbackFinal = require("@/assets/img/2.png");
            break;
          case 3:
            this.imgSrcFeedbackFinal = require("@/assets/img/3.png");
            break;
          case 2:
            this.imgSrcFeedbackFinal = require("@/assets/img/4.png");
            break;
          case 1:
            this.imgSrcFeedbackFinal = require("@/assets/img/5.png");
            break;
          default:
            this.imgSrcFeedbackFinal = require("@/assets/img/1.png");
            break;
        }
      } catch (ex) {
        console.log(ex);
      } finally {
        this.isLoading = false;
      }
    },

    async getReommendationFeedback(value) {
      try {
        const url = `a/auditions/${value.appointment_id}/feeback/recommendations-marketplaces`;
        const {
          data: { data }
        } = await axios.get(url);
        this.recommendationByAppointment = data;
      } catch (ex) {
        console.log(ex);
      } finally {
        this.isLoading = false;
      }
    },

    ...mapActions("auditions", ["store"]),

    async uploadFile(nameType, event) {
      let allowedExtensions = [];
      const objFileName = event.target.files[0].name;
      const fileExtensions = ["doc", "docx", "pdf"];
      const imgExtensions = ["jpg", "jpeg", "gif", "png"];
      const videoExtensions = ["mp3", "mp4", "mov"];
      const extension = objFileName
        .substr(objFileName.lastIndexOf(".") + 1)
        .toLowerCase();

      switch (nameType) {
        case "video":
          allowedExtensions = ["mp3", "mp4", "mov"];
          break;
        case "doc":
          allowedExtensions = [
            "doc",
            "docx",
            "pdf",
            "jpg",
            "jpeg",
            "gif",
            "png"
          ];
          break;
        default:
          break;
      }

      if (allowedExtensions.indexOf(extension) === -1) {
        this.$toasted.error("La extension es invalida");
        return;
      }

      const paramData = {
        type: nameType,
        appointment_id: this.selectedObjectUpcomingDetail.appointment_id
      };
      await this.store({
        objData: paramData,
        file: event.target.files[0]
      });

      const response = this.$store.getters["auditions/urlFileUpload"];
      const requestName = response.name;

      switch (nameType) {
        case "video":
          this.resourceGeneralVideo = response.url;
          this.resourceNameVideo = objFileName;
          this.isUploadImg = true;
          break;
        case "doc":
          this.resourceGeneral = response.url;
          this.resourceNameDoc = objFileName;
          this.isUploadDocument = true;
          break;
        default:
          break;
      }
    }
  }
};
</script>

<style>
.upcomingbtn {
  border-color: #4d2545;
  color: #4d2545;
}

.appointmentbtn {
  background-color: #4d2545;
}

.img_modal {
  background-size: cover;
  background-position: center;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1450px;
  }
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 16px;
  max-height: 48px;
}
</style>
