<template>
  <div class="w-full  container text-purple pl-6 py-8">
    <!-- Filters -->
    <div class="w-full p-4">
      <div class="flex items-center text-purple">
        <span class="ml-2 text-sm" />
      </div>

      <div class="tags w-full   px-3 py-3 mt-6">
        <div class="w-1/5 mx-auto">
          <base-button
            class="shadow-lg"
            type="button"
            expanded
            @click="$modal.show('modal_create_event');"
          >
            Add new Event
          </base-button>
        </div>
        <div class="p-4">
          <div class="flex justify-center">
            <v-calendar
              :rows="2"
              :attributes="attrs"
            />
          </div>
        </div>
      </div>

      <modal
        class="flex flex-col w-full items-center add-cus-ver-scr"
        :width="600"
        :height="580"
        name="modal_create_event"
      >
        <div class="w-3/5 mx-auto mt-8">
          <base-select
            key="evento-input"
            v-model="form.event_type"
            v-validate="'required'"
            :custom-classes="['border border-b border-gray-300']"
            name="eventoList"
            placeholder="Event Type"
            :message="errors.first('evento-input')"
          >
            <option
              v-for="evento in eventList"
              :key="evento.id"
              :value="evento.name"
            >
              {{ evento.name }}
            </option>
          </base-select>

          <base-select
            key="production-input"
            v-model="form.production_type"
            v-validate="'required'"
            :custom-classes="['border border-b border-gray-300']"
            name="productionList"
            placeholder="Production Type"
            :message="errors.first('production-input')"
          >
            <option
              v-for="production in productionTypeList"
              :key="production.id"
              :value="production.name"
            >
              {{ production.name }}
            </option>
          </base-select>

          <base-input
            v-model="form.project_name"
            v-validate="'required'"
            :custom-classes="['border border-b border-gray-300']"
            name="project"
            placeholder="Project Name"
            :message="errors.first('project')"
            data-vv-as="Project"
          />

          <div class="w-full">
            <span class="text-base text-purple">Start Date</span>
            <base-input
                    id="start_date"
                    key="start-date"
                    v-model="form.start_date"
                    v-validate="'required'"
                    class="w-2/3 px-4 py-3"
                    type="date"
                    placeholder="Start Date"
                    name="start_date"
                    :mindate="new Date()"
                    :custom-classes="['border', 'border-purple']"
                    :message="errors.first('start_date')"
                    data-vv-as="start date"
            />
            <!--<div class="flex flex-wrap w-full">
              <div class="w-1/3">
                <base-select
                  key="dias-input"
                  v-model="form.startday"
                  v-validate="'required'"
                  :custom-classes="['border border-b border-gray-300 ']"
                  name="diasList"
                  placeholder="Day"
                  :message="errors.first('diasList')"
                >
                  <option
                    v-for="dias in 31"
                    :key="dias"
                    :value="dias"
                  >
                    {{ dias }}
                  </option>
                </base-select>
              </div>

              <div class="w-1/3">
                <base-select
                  key="meses-input"
                  v-model="form.starmonth"
                  v-validate="'required'"
                  :custom-classes="['border border-b border-gray-300']"
                  name="mesesList"
                  placeholder="Month"
                  :message="errors.first('mesesList')"
                >
                  <option
                    v-for="meses in mesesList"
                    :key="meses.id"
                    :value="meses.id"
                  >
                    {{ meses.value }}
                  </option>
                </base-select>
              </div>
              <div class="w-1/3">
                <base-select
                  key="meses-input"
                  v-model="form.startyear"
                  :custom-classes="['border border-b border-gray-300 w-1/2']"
                  name="mesesList"
                  placeholder="Year"
                  :message="errors.first('mesesList')"
                >
                  <option
                    v-for="meses in yearList"
                    :key="meses.id"
                    :value="meses.id"
                  >
                    {{ meses.value }}
                  </option>
                </base-select>
              </div>
            </div>-->
          </div>

          <div class="w-full py-4">
            <span class="text-base text-purple">End Date</span>
            <base-input
                    id="end_date"
                    key="end-date"
                    v-model="form.end_date"
                    v-validate="'required'"
                    class="w-2/3 px-4 py-3"
                    type="date"
                    placeholder="End Date"
                    name="end_date"
                    :mindate="new Date()"
                    :custom-classes="['border', 'border-purple']"
                    :message="errors.first('end_date')"
                    data-vv-as="end date"
            />
            <!--<div class="flex flex-wrap w-full">
              <div class="w-1/3">
                <base-select
                  key="dias-input"
                  v-model="form.endday"
                  v-validate="'required'"
                  :custom-classes="['border border-b border-gray-300 ']"
                  name="diasList"
                  placeholder="Day"
                  :message="errors.first('diasList')"
                >
                  <option
                    v-for="dias in 31"
                    :key="dias"
                    :value="dias"
                  >
                    {{ dias }}
                  </option>
                </base-select>
              </div>

              <div class="w-1/3">
                <base-select
                  key="meses-input"
                  v-model="form.endmonth"
                  v-validate="'required'"
                  :custom-classes="['border border-b border-gray-300 w-1/2']"
                  name="mesesList"
                  placeholder="Month"
                  :message="errors.first('mesesList')"
                >
                  <option
                    v-for="meses in mesesList"
                    :key="meses.id"
                    :value="meses.id"
                  >
                    {{ meses.value }}
                  </option>
                </base-select>
              </div>
              <div class="w-1/3">
                <base-select
                  key="meses-input"
                  v-model="form.endyear"
                  v-validate="'required'"
                  :custom-classes="['border border-b border-gray-300 w-1/2']"
                  name="mesesList"
                  placeholder="Year"
                  :message="errors.first('mesesList')"
                >
                  <option
                    v-for="meses in yearList"
                    :key="meses.id"
                    :value="meses.id"
                  >
                    {{ meses.value }}
                  </option>
                </base-select>
              </div>
            </div>-->
          </div>

          <div class="w-1/2 mx-auto mt-6">
            <button
              class="mx-auto appointmentbtn text-center text-white w-full h-10 px-3 mx-auto rounded-full"
              @click="createEvent();"
            >
              Add to Calendar
            </button>
          </div>
        </div>
      </modal>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import axios from 'axios';

export default {
  data() {
    return {
      form: {},
      attrs: [],
      eventList: [{
        id: 1,
        name: 'Personal',
      },
      {
        id: 2,
        name: 'Professional',
      },
      ],
      yearList: [{
        id: 1,
        value: '2020',
      }, {
        id: 2,
        value: '2019',
      }, {
        id: 3,
        value: '2018',
      }, {
        id: 4,
        value: '2017',
      }, {
        id: 5,
        value: '2016',
      }, {
        id: 6,
        value: '2015',
      }, {
        id: 7,
        value: '2014',
      }, {
        id: 8,
        value: '2013',
      }, {
        id: 9,
        value: '2012',
      }, {
        id: 10,
        value: '2011',
      }, {
        id: 11,
        value: '2010',
      }, {
        id: 12,
        value: '2009',
      }],
      mesesList: [{
        id: 1,
        value: 'January',
      }, {
        id: 2,
        value: 'February',
      }, {
        id: 3,
        value: 'March',
      }, {
        id: 4,
        value: 'April',
      }, {
        id: 5,
        value: 'May',
      }, {
        id: 6,
        value: 'June',
      }, {
        id: 7,
        value: 'July',
      }, {
        id: 8,
        value: 'Agust',
      }, {
        id: 9,
        value: 'September',
      }, {
        id: 10,
        value: 'October',
      }, {
        id: 11,
        value: 'November',
      }, {
        id: 12,
        value: 'December',
      }],
      productionTypeList: [{
        id: 1,
        name: 'ANY',
      },
      {
        id: 2,
        name: 'THEATER',
      },
      {
        id: 3,
        name: 'FILM',
      },
      {
        id: 4,
        name: 'TV & VIDEO',
      },
      {
        id: 5,
        name: 'COMMERCIALS',
      },
      {
        id: 6,
        name: 'MODELING',
      },
      {
        id: 7,
        name: 'PERFORMING ARTS',
      },
      {
        id: 8,
        name: 'VOICEOVER',
      },
      ],
    };
  },

  created() {
    this.getAllEvents();
  },

  methods: {

    async createEvent() {
      let startDate = '';
      let endDate = '';
      try {
        const url = 'a/calendar/create_event';
        // let start = this.yearList[this.form.startyear].value;
        // startDate = new Date(this.yearList[this.form.startyear- 1].value, this.form.starmonth - 1, this.form.startday);
        // endDate = new Date(this.yearList[this.form.endyear - 1].value, this.form.endmonth - 1, this.form.endday);
        startDate = new Date(this.form.start_date);
        endDate = new Date(this.form.end_date);
        const paramData = {
          production_type: this.form.production_type,
          project_name: this.form.project_name,
          start_date: moment(String(startDate)).format('YYYY-MM-DD'),
          end_date: moment(String(endDate)).format('YYYY-MM-DD'),
          event_type: this.form.event_type,
        };
        await axios.post(url, paramData);
        this.getAllEvents();

        this.$toasted.show('Event added to calendar');
        this.$modal.hide('modal_create_event');
        } catch (ex) {
        this.$toasted.error(ex.response.data.message);
      }
    },

    async getAllEvents() {
      const finalList = [];

      try {
        const url = 'a/calendar/show';
        const {
          data: {
            data,
          },
        } = await axios.get(url);

        data.forEach((event) => {
          const splitInitDate = event.start_date.split('-');
          const splitFinalDate = event.end_date.split('-');
          finalList.push({
            start: new Date(splitInitDate[0], splitInitDate[1] - 1, splitInitDate[2]),
            end: new Date(splitFinalDate[0], splitFinalDate[1] - 1, splitFinalDate[2]),
          });
        });
      } catch (ex) {
        //
      } finally {
        this.attrs = [
          {
            key: 'today',
            highlight: {
              backgroundColor: '#ff8080',
            },
            dates: finalList,
          },
        ];
      }
    },
  },
};
</script>

<style>
@media (min-width: 1280px) {
    .container {
        max-width: 1450px;
    }

    .upcomingbtn {
        border-color: #4d2545;
        color: #4d2545;
    }

    .appointmentbtn {
        background-color: #4d2545;
    }
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 16px;
    max-height: 48px;
}
.add-cus-ver-scr{
  overflow-y: auto;
}
</style>
