<!-- eslint-disable-next-line -->
<template>
  <div class="flex items-start container text-purple pl-6 py-8">
    <!-- Filters -->
    <div class="w-2/5 max-w-sm shadow-lg bg-white p-4">
      <div class="flex items-center text-purple">
        <span class="ml-2 text-sm" />
      </div>
      <div class="relative w-full pb-4">
        <div
          v-for="general in generalList"
          :key="general.id"
          class="w-full rounded-lg shadow-lg overflow-hidden mb-3 cursor-pointer"
          @click="marketPlaceDetail(general)"
        >
          <div class="relative flex-col" v-if="general.featured === 'yes'">
            <img
              class="w-full h-48"
              :src="general.image.url"
              alt="image"
            >
            <div
              v-if="general.featured === 'yes'"
              class="absolute bg-gradient top-0 right-0 rounded-l-lg text-white py-2 px-4"
            >
              Featured
            </div>
          </div>
          <div class="p-4 " v-if="general.featured === 'yes'">
            <span class="text-xl truncate mb-3 text-purple uppercase font-bold">{{ general.title }}</span>
          </div>
        </div>
      </div>
      <div class="tags w-full  mt-6">
        
        <div
          v-for="categories in categoriesList"
          :key="categories.id"
          class="py-4 px-4 border border-purple border-8 uppercase mr-2 shadow-lg  cursor-pointer font-bold mt-4"
          @click="tabSelected = categories.id; getSelectedTab(categories.id)"
        >
          {{ categories.name }}
        </div>
      </div>
    </div>
    <!-- Video -->
    <div
      v-if="tabSelected === selected"
      class="flex flex-col w-full items-center mt-4"
    >
      <div class="relative w-2/5 pb-4">
        <div
          v-for="general in generalList"
          :key="general.id"
          class="w-full rounded-lg shadow-lg overflow-hidden mb-3 cursor-pointer"
          @click="marketPlaceDetail(general)"
        >
          <div class="relative flex-col" v-if="general.featured === 'no'">
            <img
              class="w-full h-48"
              :src="general.image.url"
              alt="image"
            >
            <div
              v-if="general.featured === 'yes'"
              class="absolute bg-gradient top-0 right-0 rounded-l-lg text-white py-2 px-4"
            >
              Featured
            </div>
          </div>
          <div class="p-4 " v-if="general.featured === 'no'">
            <span class="text-xl truncate mb-3 text-purple uppercase font-bold">{{ general.title }}</span>
          </div>
        </div>
      </div>
    </div>

    <modal
      class="flex flex-col w-full items-center"
      :width="640"
      height="490"
      name="marketplace_detail"
    >
      <div>
        <div class="w-130 ">
          <div class="flex flex-col w-full rounded-lg  overflow-hidden">
            <img
              :src="imgResources.url"
              alt="Cover"
              class="w-full h-32 object-cover"
            >
            <div class="flex flex-col p-4">
              <span class="text-xl truncate mb-3 font-bold">
                {{ detailsObj.title }}
              </span>
              <span class="truncate mb-3">
                <div class="w-full">
                  <div class="mx-auto w-1/2  flex flex-wrap border-t-2 border-b-2 py-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20.6"
                      height="30.962"
                    >
                      <g data-name="Grupo 1932">
                        <g data-name="Grupo 1931">
                          <path
                            data-name="Trazado 3028"
                            d="M10.219.376a.433.433 0 10.081.863 9.065 9.065 0 019.062 9.075c0 2.49-1.185 5.87-2.967 9.372a72.691 72.691 0 01-6.1 9.7 72.691 72.691 0 01-6.1-9.7c-1.782-3.5-2.967-6.883-2.967-9.372 0-4.148 2.122-7.673 5.913-8.756a.433.433 0 10-.229-.836C2.756 1.909.365 5.78.365 10.314c0 2.757 1.249 6.2 3.061 9.763a74.331 74.331 0 006.519 10.33.432.432 0 00.7 0 74.33 74.33 0 006.513-10.33c1.812-3.562 3.061-7.006 3.061-9.763A9.941 9.941 0 0010.294.375h-.081zm.081 4.315a5.61 5.61 0 105.61 5.61 5.616 5.616 0 00-5.61-5.61zm0 .863a4.747 4.747 0 11-4.747 4.747A4.74 4.74 0 0110.3 5.554z"
                            fill="#4d2545"
                            stroke="#4d2545"
                            stroke-width=".75"
                          />
                        </g>
                      </g>
                    </svg>
                    <p class="text-justify text-sm ml-6">{{ detailsObj.address }}</p>
                  </div>
                </div>
              </span>
              <span class="text-sm truncate mb-3">
                <div class="w-full  ">
                  <div class="mx-auto w-1/2  flex flex-wrap border-b-2 py-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="29.773"
                      height="29.76"
                    >
                      <g data-name="Grupo 1930">
                        <g data-name="Grupo 1929">
                          <g data-name="Grupo 1928">
                            <path
                              data-name="Trazado 3027"
                              d="M24.153 18.317a2.837 2.837 0 00-4 .06l-3.626 3.626a.604.604 0 00.854.854l3.627-3.626a1.628 1.628 0 012.294-.059l4.282 4.282a1.63 1.63 0 01-.041 2.282 9.4 9.4 0 01-4.439 2.455c-.347.035-6.539.529-14.294-7.226S1.547 7.017 1.582 6.671a9.4 9.4 0 012.455-4.439 1.629 1.629 0 012.281-.042l4.281 4.281a1.628 1.628 0 01-.058 2.3l-2.157 2.157a.6.6 0 00-.145.621 18.352 18.352 0 004.108 5.866l.014.014a13 13 0 002.108 1.952.604.604 0 10.688-.993 11.89 11.89 0 01-1.948-1.827 18.935 18.935 0 01-3.694-5.064l1.88-1.881a2.838 2.838 0 00.059-4L7.169 1.335a2.84 2.84 0 00-4 .057l-.032.034a10.509 10.509 0 00-2.753 5.1v.014a12.4 12.4 0 00.7 4.734 21.835 21.835 0 002.235 4.775 34.158 34.158 0 0010.41 10.41 21.832 21.832 0 004.775 2.235 13.933 13.933 0 004.17.724 5.609 5.609 0 00.565-.024h.014a10.51 10.51 0 005.1-2.753l.034-.032a2.84 2.84 0 00.057-4z"
                              fill="#4d2545"
                              stroke="#4d2545"
                              stroke-width=".69"
                            />
                          </g>
                        </g>
                      </g>
                    </svg>
                    <p class="text-justify text-sm ml-6">{{ detailsObj.phone_number }}</p>
                  </div>
                </div>
              </span>
              <span class="text-sm truncate mb-3">
                <div class="w-full ">
                  <div class="mx-auto w-1/2 flex flex-wrap border-b-2 py-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="26.203"
                      height="26.203"
                    >
                      <g data-name="Grupo 1935">
                        <g data-name="Grupo 1934">
                          <g data-name="Grupo 1933">
                            <path
                              data-name="Trazado 3029"
                              d="M13.101 26.078A12.978 12.978 0 103.845 3.846a.589.589 0 10.833.832 11.5 11.5 0 015.913-3.1 10.441 10.441 0 00-2.238 2.929 15.732 15.732 0 00-1.142 2.708 15.832 15.832 0 00-2.708 1.142 10.38 10.38 0 00-2.91 2.22 11.675 11.675 0 011.649-3.914.593.593 0 10-.995-.645 12.966 12.966 0 0010.854 20.06zm2.552-1.474a10.456 10.456 0 002.2-2.892 15.78 15.78 0 001.143-2.716 15.7 15.7 0 002.707-1.133 10.414 10.414 0 002.9-2.22 11.771 11.771 0 01-8.95 8.961zm-5.1 0a11.771 11.771 0 01-8.952-8.961 10.412 10.412 0 002.9 2.219 15.7 15.7 0 002.708 1.133 15.785 15.785 0 001.142 2.717 10.456 10.456 0 002.199 2.892zm3.141-.138v-4.6a19.894 19.894 0 003.933-.5 14.046 14.046 0 01-.8 1.777 7.375 7.375 0 01-3.136 3.323zm-1.179 0a7.375 7.375 0 01-3.137-3.315 14.047 14.047 0 01-.8-1.773 19.894 19.894 0 003.933.5zm1.185-5.774h-.009v-5h5a18.475 18.475 0 01-.645 4.356 18.46 18.46 0 01-4.347.645zm-1.188 0a18.459 18.459 0 01-4.356-.645 18.475 18.475 0 01-.645-4.356h5zm6.866-1.078a19.791 19.791 0 00.5-3.923h4.607a7.442 7.442 0 01-3.343 3.131 13.985 13.985 0 01-1.764.792zm-12.544 0a13.985 13.985 0 01-1.768-.792 7.442 7.442 0 01-3.343-3.131h4.609a19.791 19.791 0 00.5 3.923zm17.655-5.1h-4.618a19.734 19.734 0 00-.5-3.923 14.122 14.122 0 011.768.8 7.431 7.431 0 013.343 3.122zm-5.793 0h-5v-5a18.371 18.371 0 014.356.645 18.391 18.391 0 01.64 4.353zm-6.18 0h-5a18.392 18.392 0 01.645-4.356 18.365 18.365 0 014.356-.645v5zm-6.18 0H1.718a7.431 7.431 0 013.343-3.122 14.122 14.122 0 011.768-.8 19.734 19.734 0 00-.497 3.92zm18.268-1.955a10.4 10.4 0 00-2.9-2.21 15.837 15.837 0 00-2.708-1.142 15.728 15.728 0 00-1.142-2.708 10.508 10.508 0 00-2.2-2.9 11.771 11.771 0 018.952 8.961zm-6.981-3.73a19.766 19.766 0 00-3.933-.5v-4.6a7.406 7.406 0 013.131 3.325 13.959 13.959 0 01.802 1.776zm-9.044 0a13.96 13.96 0 01.8-1.768 7.405 7.405 0 013.131-3.325v4.6a19.775 19.775 0 00-3.933.5z"
                              fill="#4d2545"
                              stroke="#4d2545"
                              stroke-width=".25"
                            />
                          </g>
                        </g>
                      </g>
                    </svg>
                    <p class="text-justify text-sm ml-6">{{ detailsObj.url_web }}</p>
                  </div>
                </div>
              </span>

              <span class="text-sm truncate mb-3">
                <div class="w-full">
                  <p class="text-lg font-bold">Services</p>
                  <p class="text-justify text-sm overflow-auto">{{ detailsObj.services }}</p>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import axios from 'axios';
import {
  mapActions,
  mapGetters,
} from 'vuex';

const $ = require('jquery');

window.$ = $;
export default {
  data() {
    return {
      tabSelected: '',
      selected: '',
      categoriesList: [],
      generalList: [],
      videoList: [],
      detailsObj: [],
      imgResources: '',
    };
  },

  created() {
    this.getCategoriasMarketPlace();
  },
  methods: {
    async getCategoriasMarketPlace() {
      try {
        const url = 'a/marketplace_categories';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.categoriesList = data;

        if (this.categoriesList.length) {
          this.tabSelected = this.categoriesList[0].id;
          this.getSelectedTab(this.tabSelected);
        }
      } catch (ex) {
        console.log(ex);
      }
    },
    marketPlaceDetail(value) {
      this.$modal.show('marketplace_detail');
      this.detailsObj = value;
      this.imgResources = this.detailsObj.image;
    },
    async getSelectedTab(value) {
      this.selected = value;
      try {
        const url = `a/marketplace_categories/${value}/marketplaces`;
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        if (data) {
          this.generalList = data;
          this.generalList.sort((a, b) => (a.id < b.id ? 1 : -1));
        }
      } catch (ex) {
        console.log(ex);
      }
    },

  },

};
</script>

<style>
.bg-gradient {
  background-image: linear-gradient(#4D2545, #782541);
}

@media (min-width: 1280px) {
    .container {
        max-width: 1450px;
    }
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 16px;
    max-height: 48px;
}
</style>
