<template>
  <div class="flex container text-purple pl-6 py-8">
    <!-- Filters -->
    <div class="w-2/5 max-w-sm shadow-lg bg-white p-4">
      <div class="flex items-center text-purple">
        <span class="ml-2 text-sm" />
      </div>

      <div class="tags w-full  mt-6">
        <div
          class="py-4 px-4 border border-purple border-8 uppercase mr-2 shadow-lg  cursor-pointer font-bold"
          @click="tabSelected = 'video'; getVideoList()"
        >
          Videos
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 uppercase mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'music'; getMusicList()"
        >
          Music
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 uppercase mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'photos'; getPhotoList()"
        >
          Photos
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 uppercase mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'doc'; getDocumentList()"
        >
          Documents
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 uppercase mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'sheet'; getSheetMusicList()"
        >
          Sheet Music
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 uppercase mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'materials'; getAuditionMaterialList()"
        >
          Audition Materials
        </div>
      </div>
    </div>

    <!-- Video -->
    <div
      v-if="tabSelected === 'video'"
      class="flex flex-col w-full items-center mt-4"
    >
      <div class="relative w-2/5 pb-4">
        <div
          v-for="video in videoList"
          :key="video.id"
          class="w-full rounded-lg shadow-lg overflow-hidden mb-3"
        >
          <div class="flex-col p-4">
            <iframe
              class="w-full h-48"
              :src="video.url"
              frameborder="0"
              allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            />
          </div>
          <div class="p-4 bg-purple">
            <span class="text-lg truncate mb-3 text-white uppercase">{{ video.name }}</span>
          </div>
        </div>

        <span v-if="!videoList.length">No media.</span>
      </div>
    </div>

    <!-- Music -->
    <div
      v-else-if="tabSelected === 'music'"
      class="flex flex-col w-full items-center mt-4"
    >
      <div class="relative w-2/5 pb-4">
        <div
          v-for="music in musicList"
          :key="music.id"
          class="flex w-full rounded-lg shadow-lg overflow-hidden mb-3"
        >
          <div class="flex-col p-4 bg-purple">
            <svg
              class="mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              width="24.919"
              height="24.927"
            >
              <g data-name="noun_Musical Note_891278">
                <g data-name="Grupo 72">
                  <g data-name="Grupo 71">
                    <g data-name="Grupo 70">
                      <path
                        data-name="Trazado 47"
                        d="M23.925.633L8.352 3.747a.311.311 0 00-.253.311v14.151a4 4 0 00-3.426-2 4.049 4.049 0 104.052 4.044V9.606L20 7.106a.312.312 0 00-.117-.613L8.725 8.963V4.311l14.946-2.984v13.758a4 4 0 00-3.426-2 4.049 4.049 0 104.049 4.049V.944a.311.311 0 00-.369-.311zm-3.68 13.08a3.422 3.422 0 013.426 3.289v.136a3.426 3.426 0 11-3.426-3.426zM4.674 16.827a3.42 3.42 0 013.426 3.28V20.253a3.426 3.426 0 11-3.426-3.426z"
                        fill="#4D2545"
                        stroke="#fff"
                        stroke-width="1.25"
                      />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <span class="text-lg truncate mb-3 text-white uppercase">{{ getExtensionByName(music.name) }}</span>
          </div>
          <div class="flex-col p-4">
            <span class="text-2xl truncate mb-3">{{ music.name }}</span>
          </div>
        </div>

        <span v-if="!musicList.length">No media.</span>
      </div>
    </div>

    <!-- Photos -->
    <div
      v-else-if="tabSelected === 'photos'"
      class="flex flex-col w-full items-center mt-4"
    >
      <div class="relative w-2/5 pb-4">
        <div
          v-for="photo in photosList"
          :key="photo.id"
          class="flex w-full rounded-lg shadow-lg overflow-hidden mb-3"
        >
          <div class="flex-col p-4 bg-purple">
            <svg
              class="mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              width="29.84"
              height="23.287"
            >
              <g data-name="Grupo 67">
                <g data-name="Grupo 66">
                  <g data-name="Grupo 65">
                    <path
                      data-name="Trazado 45"
                      d="M10.547.5a.656.656 0 00-.5.317L8.314 3.778H2.466A1.977 1.977 0 00.5 5.744V20.82a1.977 1.977 0 001.966 1.966h20.32a.656.656 0 100-1.311H2.466a.64.64 0 01-.655-.655V5.744a.64.64 0 01.655-.655h6.227a.656.656 0 00.563-.328l1.721-2.95h7.845l1.4 2.9a.656.656 0 00.594.379h6.555a.64.64 0 01.655.655V20.82a.64.64 0 01-.655.655.656.656 0 100 1.311 1.977 1.977 0 001.969-1.966V5.744a1.977 1.977 0 00-1.966-1.966h-6.135L19.826.869A.656.656 0 0019.232.5h-8.685zm4.373 6.883a5.9 5.9 0 105.9 5.9 5.909 5.909 0 00-5.9-5.9zm0 1.311a4.588 4.588 0 11-4.588 4.588 4.578 4.578 0 014.588-4.588z"
                      fill="#fff"
                      stroke="#fff"
                    />
                  </g>
                </g>
              </g>
            </svg>
            <span class="text-lg truncate mb-3 text-white uppercase">{{ getExtensionByName(photo.name) }}</span>
          </div>
          <div class="flex-col p-4">
            <span class="text-2xl truncate mb-3">{{ photo.name }}</span>
          </div>
        </div>

        <span v-if="!photosList.length">No media.</span>
      </div>
    </div>

    <!-- Documents -->
    <div
      v-else-if="tabSelected === 'doc'"
      class="flex flex-col w-full items-center mt-4"
    >
      <div class="relative w-2/5 pb-4">
        <div
          v-for="documentos in documentsList"
          :key="documentos.id"
          class="flex w-full rounded-lg shadow-lg overflow-hidden mb-3"
        >
          <div class="flex-col p-4 bg-purple">
            <svg
              class="mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              width="25.296"
              height="32.943"
            >
              <path
                data-name="Trazado 12"
                d="M20.634 4.411a17.345 17.345 0 00-2.164-1.852 2.164 2.164 0 00-.7-.163v4.683h5.027a1.1 1.1 0 00-.175-.653c-.234-.273-.76-.817-1.988-2.015z"
                fill="none"
              />
              <g data-name="Grupo 20">
                <path
                  data-name="Trazado 13"
                  d="M20.634 4.411a17.345 17.345 0 00-2.164-1.852 2.164 2.164 0 00-.7-.163v3.485a1.255 1.255 0 001.286 1.2h3.741a1.1 1.1 0 00-.175-.653c-.234-.275-.76-.819-1.988-2.017z"
                  fill="none"
                />
                <path
                  data-name="Trazado 14"
                  d="M25.252 8.059a5 5 0 00-.468-2.668 11.267 11.267 0 00-2.455-2.668A11.922 11.922 0 0019.465.436 6.855 6.855 0 0016.601 0H8.885c-1.871 0-3.332 0-4.5.109A4.9 4.9 0 001.402 1.2 4.223 4.223 0 00.233 3.975C.116 5.064.116 6.425.116 8.168v.49H2.63v-.49a34.943 34.943 0 01.117-3.92 2.445 2.445 0 01.468-1.416A2.878 2.878 0 014.734 2.4c.935-.109 2.338-.109 4.209-.109h5.027a1.255 1.255 0 011.286 1.2v3.533a2.414 2.414 0 002.514 2.341h3.8a1.255 1.255 0 011.286 1.2v14.1a34.943 34.943 0 01-.117 3.92A2.446 2.446 0 0122.271 30a2.878 2.878 0 01-1.52.436c-.935.109-2.28.109-4.15.109H8.885c-1.871 0-3.273 0-4.209-.109A2.878 2.878 0 013.158 30a2.446 2.446 0 01-.468-1.416 34.944 34.944 0 01-.117-3.92v-9.146H.058v9.2c0 1.742 0 3.1.117 4.193a4.223 4.223 0 001.169 2.779 4.9 4.9 0 002.981 1.089q1.754.163 4.559.163h7.6c1.871 0 3.332 0 4.5-.109a4.9 4.9 0 002.981-1.089 4.223 4.223 0 001.169-2.777c.117-1.089.117-2.45.117-4.193V8.494a.563.563 0 00.001-.435zm-6.255-.926a1.255 1.255 0 01-1.286-1.2V2.45a1.318 1.318 0 01.7.163 11.015 11.015 0 012.163 1.851 12.573 12.573 0 011.984 2.07 1.8 1.8 0 01.175.653h-3.736z"
                  fill="#fff"
                />
                <path
                  data-name="Trazado 15"
                  d="M2.572 14.867a1.255 1.255 0 00-1.286-1.2A1.255 1.255 0 000 14.867v3.047h2.514v-3.047z"
                  fill="#fff"
                />
                <path
                  data-name="Trazado 16"
                  d="M.117 9.147a1.255 1.255 0 001.286 1.2 1.255 1.255 0 001.286-1.2V6.098H.175v3.049z"
                  fill="#fff"
                />
              </g>
            </svg>
            <span class="text-lg truncate mb-3 text-white uppercase">{{ getExtensionByName(documentos.name) }}</span>
          </div>
          <div class="flex-col p-4">
            <span class="text-2xl truncate mb-3">{{ documentos.name }}</span>
          </div>
        </div>

        <span v-if="!documentsList.length">No media.</span>
      </div>
    </div>

    <!-- Sheet Music -->
    <div
      v-else-if="tabSelected === 'sheet'"
      class="flex flex-col w-full items-center mt-4"
    >
      <div class="relative w-2/5 pb-4">
        <div
          v-for="sheet in sheetMusicList"
          :key="sheet.id"
          class="flex w-full rounded-lg shadow-lg overflow-hidden mb-3"
        >
          <div class="flex-col p-4 bg-purple">
            <svg
              class="mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              width="25.296"
              height="32.943"
            >
              <path
                data-name="Trazado 12"
                d="M20.634 4.411a17.345 17.345 0 00-2.164-1.852 2.164 2.164 0 00-.7-.163v4.683h5.027a1.1 1.1 0 00-.175-.653c-.234-.273-.76-.817-1.988-2.015z"
                fill="none"
              />
              <g data-name="Grupo 20">
                <path
                  data-name="Trazado 13"
                  d="M20.634 4.411a17.345 17.345 0 00-2.164-1.852 2.164 2.164 0 00-.7-.163v3.485a1.255 1.255 0 001.286 1.2h3.741a1.1 1.1 0 00-.175-.653c-.234-.275-.76-.819-1.988-2.017z"
                  fill="none"
                />
                <path
                  data-name="Trazado 14"
                  d="M25.252 8.059a5 5 0 00-.468-2.668 11.267 11.267 0 00-2.455-2.668A11.922 11.922 0 0019.465.436 6.855 6.855 0 0016.601 0H8.885c-1.871 0-3.332 0-4.5.109A4.9 4.9 0 001.402 1.2 4.223 4.223 0 00.233 3.975C.116 5.064.116 6.425.116 8.168v.49H2.63v-.49a34.943 34.943 0 01.117-3.92 2.445 2.445 0 01.468-1.416A2.878 2.878 0 014.734 2.4c.935-.109 2.338-.109 4.209-.109h5.027a1.255 1.255 0 011.286 1.2v3.533a2.414 2.414 0 002.514 2.341h3.8a1.255 1.255 0 011.286 1.2v14.1a34.943 34.943 0 01-.117 3.92A2.446 2.446 0 0122.271 30a2.878 2.878 0 01-1.52.436c-.935.109-2.28.109-4.15.109H8.885c-1.871 0-3.273 0-4.209-.109A2.878 2.878 0 013.158 30a2.446 2.446 0 01-.468-1.416 34.944 34.944 0 01-.117-3.92v-9.146H.058v9.2c0 1.742 0 3.1.117 4.193a4.223 4.223 0 001.169 2.779 4.9 4.9 0 002.981 1.089q1.754.163 4.559.163h7.6c1.871 0 3.332 0 4.5-.109a4.9 4.9 0 002.981-1.089 4.223 4.223 0 001.169-2.777c.117-1.089.117-2.45.117-4.193V8.494a.563.563 0 00.001-.435zm-6.255-.926a1.255 1.255 0 01-1.286-1.2V2.45a1.318 1.318 0 01.7.163 11.015 11.015 0 012.163 1.851 12.573 12.573 0 011.984 2.07 1.8 1.8 0 01.175.653h-3.736z"
                  fill="#fff"
                />
                <path
                  data-name="Trazado 15"
                  d="M2.572 14.867a1.255 1.255 0 00-1.286-1.2A1.255 1.255 0 000 14.867v3.047h2.514v-3.047z"
                  fill="#fff"
                />
                <path
                  data-name="Trazado 16"
                  d="M.117 9.147a1.255 1.255 0 001.286 1.2 1.255 1.255 0 001.286-1.2V6.098H.175v3.049z"
                  fill="#fff"
                />
              </g>
            </svg>
            <span class="text-lg truncate mb-3 text-white uppercase">{{ getExtensionByName(sheet.name) }}</span>
          </div>
          <div class="flex-col p-4">
            <span class="text-2xl truncate mb-3">{{ sheet.name }}</span>
          </div>
        </div>

        <span v-if="!sheetMusicList.length">No media.</span>
      </div>
    </div>

    <!-- Audition Materials -->
    <div
      v-else-if="tabSelected === 'materials'"
      class="flex flex-col w-full items-center mt-4"
    >
      <div class="relative w-2/5 pb-4">
        <div
          v-for="materials in auditionMaterialList"
          :key="materials.id"
          class="flex w-full rounded-lg shadow-lg overflow-hidden mb-3"
        >
          <div class="flex-col p-4 bg-purple">
            <svg
              class="mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              width="25.296"
              height="32.943"
            >
              <path
                data-name="Trazado 12"
                d="M20.634 4.411a17.345 17.345 0 00-2.164-1.852 2.164 2.164 0 00-.7-.163v4.683h5.027a1.1 1.1 0 00-.175-.653c-.234-.273-.76-.817-1.988-2.015z"
                fill="none"
              />
              <g data-name="Grupo 20">
                <path
                  data-name="Trazado 13"
                  d="M20.634 4.411a17.345 17.345 0 00-2.164-1.852 2.164 2.164 0 00-.7-.163v3.485a1.255 1.255 0 001.286 1.2h3.741a1.1 1.1 0 00-.175-.653c-.234-.275-.76-.819-1.988-2.017z"
                  fill="none"
                />
                <path
                  data-name="Trazado 14"
                  d="M25.252 8.059a5 5 0 00-.468-2.668 11.267 11.267 0 00-2.455-2.668A11.922 11.922 0 0019.465.436 6.855 6.855 0 0016.601 0H8.885c-1.871 0-3.332 0-4.5.109A4.9 4.9 0 001.402 1.2 4.223 4.223 0 00.233 3.975C.116 5.064.116 6.425.116 8.168v.49H2.63v-.49a34.943 34.943 0 01.117-3.92 2.445 2.445 0 01.468-1.416A2.878 2.878 0 014.734 2.4c.935-.109 2.338-.109 4.209-.109h5.027a1.255 1.255 0 011.286 1.2v3.533a2.414 2.414 0 002.514 2.341h3.8a1.255 1.255 0 011.286 1.2v14.1a34.943 34.943 0 01-.117 3.92A2.446 2.446 0 0122.271 30a2.878 2.878 0 01-1.52.436c-.935.109-2.28.109-4.15.109H8.885c-1.871 0-3.273 0-4.209-.109A2.878 2.878 0 013.158 30a2.446 2.446 0 01-.468-1.416 34.944 34.944 0 01-.117-3.92v-9.146H.058v9.2c0 1.742 0 3.1.117 4.193a4.223 4.223 0 001.169 2.779 4.9 4.9 0 002.981 1.089q1.754.163 4.559.163h7.6c1.871 0 3.332 0 4.5-.109a4.9 4.9 0 002.981-1.089 4.223 4.223 0 001.169-2.777c.117-1.089.117-2.45.117-4.193V8.494a.563.563 0 00.001-.435zm-6.255-.926a1.255 1.255 0 01-1.286-1.2V2.45a1.318 1.318 0 01.7.163 11.015 11.015 0 012.163 1.851 12.573 12.573 0 011.984 2.07 1.8 1.8 0 01.175.653h-3.736z"
                  fill="#fff"
                />
                <path
                  data-name="Trazado 15"
                  d="M2.572 14.867a1.255 1.255 0 00-1.286-1.2A1.255 1.255 0 000 14.867v3.047h2.514v-3.047z"
                  fill="#fff"
                />
                <path
                  data-name="Trazado 16"
                  d="M.117 9.147a1.255 1.255 0 001.286 1.2 1.255 1.255 0 001.286-1.2V6.098H.175v3.049z"
                  fill="#fff"
                />
              </g>
            </svg>
            <span class="text-lg truncate mb-3 text-white uppercase">{{ getExtensionByName(materials.name) }}</span>
          </div>
          <div class="flex-col p-4">
            <span class="text-2xl truncate mb-3">{{ materials.name }}</span>
          </div>
        </div>

        <span v-if="!auditionMaterialList.length">No media.</span>
      </div>
    </div>
    <div
      v-if="tabSelected !== 'materials'"
      class="fixed right-0 bottom-0 mr-8 mb-8 rounded-full shadow-xl bg-purple p-4 cursor-pointer"
      @click="openMediaModal()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 37.889 37.889"
      >
        <path
          id="Path_31"
          data-name="Path 31"
          d="M16.356,13.394l9.818-9.818A2.095,2.095,0,0,0,23.212.614l-9.818,9.818L3.576.614A2.095,2.095,0,0,0,.614,3.576l9.818,9.818L.614,23.212a2.1,2.1,0,0,0,1.467,3.583,1.985,1.985,0,0,0,1.467-.621l9.846-9.818,9.818,9.818a2.1,2.1,0,0,0,1.467.621,1.985,1.985,0,0,0,1.467-.621,2.094,2.094,0,0,0,0-2.962Z"
          transform="translate(18.947) rotate(45)"
          fill="#fff"
        />
      </svg>
    </div>
    <modal
      class="flex flex-col w-full items-center"
      :width="540"
      height="auto"
      name="modal_media"
      scrollable
    >
      <div>
        <div class="w-full overflow-hidden my-6">
          <p v-if="tabSelected !== 'video'" class="text-lg text-purple font-bold text-center">
            Add a new file
          </p>
          <form
            class="w-1/2 mx-auto"
          >
          <base-input
            v-if="tabSelected === 'video'"
            v-model="form.url"
            v-validate="'required'"
            :custom-classes="['border border-b border-gray-300']"
            name="url"
            placeholder="Video Url"
            :message="errors.first('url')"
            data-vv-as="url"
          />
          <input v-if="tabSelected !== 'video'"
            ref="inputFile"
            :accept="accept"
            type="file"
            hidden
            @change="handleFile"
          >
            <div v-if="tabSelected !== 'video'" class="container flex w-full mt-3 cursor-pointer">
              <div class="flex w-full text-center justify-center flex-wrap">
                <div class="m-3 content-center border-2 border-purple rounded-full red-light w-full h-10 flex items-center button-detail" @click="$refs.inputFile.click()">
                  <p class="text-white text-sm font-bold content-center tracking-tighter flex-1 text-purple truncate">
                    + {{file.name}}
                  </p>
                </div>
              </div>
            </div>
            <base-button
              @click="saveFile"
              expanded
            >
              Save
            </base-button>
          </form>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import axios from 'axios';
import firebase from 'firebase/app';
import 'firebase/storage';
import uuid from 'uuid/v1';
import {
  mapActions,
  mapGetters,
} from 'vuex';

const $ = require('jquery');

window.$ = $;
export default {
  data() {
    return {
      tabSelected: 'video',
      videoList: [],
      musicList: [],
      form:[],
      photosList: [],
      accept:'',
      documentsList: [],
      sheetMusicList: [],
      auditionMaterialList: [],
      file:{
        name:'Upload your file',
      },
    };
  },

  methods: {
    openMediaModal(){
      this.$modal.show('modal_media');
    },
    getExtensionByName(value) {
      if (value !== undefined) {
        return;
      }
      return value.substr(value.lastIndexOf('.') + 1).toLowerCase();
    },
    handleFile(e) {
      const file = e.target.files[0];
      this.form.file = file;
      this.file.name = file.name;
      
      // this.preview = URL.createObjectURL(file);
    },
    async saveFile(){
      debugger;
      try{
        if(this.form.file || this.form.url){
          let url;
          if(this.tabSelected !== 'video'){
            debugger;
            let file = await firebase.storage()
            .ref(`temp/${uuid()}.${this.file.name.split('.').pop()}`)
            .put(this.form.file);
            url = await file.ref.getDownloadURL();
          }
          else{
            debugger;
            url = this.form.url;
          }
          debugger;
          let type;
          switch(this.tabSelected){
            case 'video':
              type = "video";
              break;
            case 'music':
              type = "audio";
              break;
            case 'photos':
              type = "image";
              break;
            case 'doc':
              type = "doc";
              break;
            case 'sheet':
              type = "sheet";
              break;
            default:
              break;
          }
          let fileData = {
              url: url,
              name: this.file.name,
              type: type,
          }
          let files = await axios.post('a/media/manager', fileData);
          this.$toasted.success('File saved successfully');
          switch(this.tabSelected){
            case 'video':
              await this.getVideoList();
              break;
            case 'music':
              await this.getMusicList();
              break;
            case 'photos':
              await this.getPhotoList();
              break;
            case 'doc':
              await this.getDocumentList();
              break;
            case 'sheet':
              await this.getSheetMusicList();
              break;
            default:
              break;
          }
        }
      }catch(e){
        console.log(e);
        this.$toasted.error('A problem with the file has ocurred, try later');
      }
    },
    async getVideoList() {
      try {
        this.accept = '.mp4';
        const url = 'a/media/user/list/video';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.videoList = data;
        console.log(this.videoList);
      } catch (ex) {
        console.log(ex);
      }
    },

    async getMusicList() {
      try {
        this.accept = '.mp3';
        const url = 'a/media/user/list/video';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.musicList = data;
      } catch (ex) {
        console.log(ex);
      }
    },

    async getPhotoList() {
      try {
        this.accept = '.jpeg, .png';
        const url = 'a/media/user/list/image';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.photosList = data;
      } catch (ex) {
        console.log(ex);
      }
    },

    async getDocumentList() {
      try {
        this.accept = '.pdf';
        const url = 'a/media/user/list/doc';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.documentsList = data;
      } catch (ex) {
        console.log(ex);
      }
    },

    async getSheetMusicList() {
      try {
        this.accept = '.pdf';
        const url = 'a/media/user/list/sheet';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.sheetMusicList = data;
      } catch (ex) {
        console.log(ex);
      }
    },

    async getAuditionMaterialList() {
      try {
        const url = 'a/media/auditon/list';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.auditionMaterialList = data;
      } catch (ex) {
        console.log(ex);
      }
    },

  },

};
</script>

<style>
@media (min-width: 1280px) {
    .container {
        max-width: 1450px;
    }
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 16px;
    max-height: 48px;
}
</style>
