<template>
  <div class="flex items-start container text-purple pl-6 py-8">
    <!-- Filters -->
    <div class="w-2/5 max-w-sm shadow-lg bg-white p-4">
      <div class="flex items-center text-purple">
        <span class="ml-2 text-sm" />
      </div>

      <div class="tags w-full  mt-6">
        <div
          class="py-4 px-4 border border-purple border-8 mr-2 shadow-lg  cursor-pointer font-bold"
          @click="tabSelected = 'info'; getInfo()"
        >
          My Info
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'credits'; getCredits()"
        >
          Credits
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'education'; getEducation()"
        >
          Education & Training
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'union'; getUnionMembership()"
        >
          Union Membership
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'skill'; getSkills()"
        >
          Skills
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'representation'; getRepresentation()"
        >
          Representation
        </div>
        <div
          class="mt-4 py-4 px-4 border border-purple border-8 mr-2 shadow-lg cursor-pointer font-bold"
          @click="tabSelected = 'apperance'; getApperance()"
        >
          Apperance
        </div>
      </div>
    </div>

    <!-- Info -->
    <div
      v-if="tabSelected === 'info'"
      class="flex flex-col w-full items-center mt-4"
    >
      <p class="text-3xl font-bold pb-5">
        Profile
      </p>
      <div class="relative w-1/2 ">
        <div class="w-full overflow-hidden mb-3">
          <form class="w-full mx-auto max-w-xs">
            <base-input
              v-model="form.first_name"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="first_name"
              placeholder="First Name"
              :message="errors.first('first_name')"
              data-vv-as="first name"
            />

            <base-input
              v-model="form.last_name"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="last_name"
              placeholder="Last Name"
              :message="errors.first('last_name')"
              data-vv-as="last name"
            />

            <base-input
              v-model="form.email"
              v-validate="'required|email'"
              :custom-classes="['border border-b border-gray-300']"
              name="email"
              placeholder="Email"
              :message="errors.first('email')"
            />

            <base-input
              id="birth"
              key="birth-input"
              v-model="form.birth"
              v-validate="'required'"
              :custom-classes="['border border-b border-gray-300']"
              name="birth"
              type="date"
              placeholder="Birth Date"
              :message="errors.first('birth')"
              data-vv-as="birth date"
            />

            <base-input
              v-model="form.stage_name"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="stage_name"
              placeholder="Stage Name"
              :message="errors.first('stage_name')"
              data-vv-as="stage name"
            />

            <base-input
              v-model="form.profesion"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="profesion"
              placeholder="Professional / Working Title"
              :message="errors.first('profesion')"
              data-vv-as="working title"
            />

            <base-input
              v-model="form.url"
              v-validate="'required|url'"
              :custom-classes="['border border-b border-gray-300']"
              name="urlprueba"
              placeholder="Personal Website"
              :message="errors.first('urlprueba')"
              data-vv-as="personal website"
            />

            <base-input
              key="address-input"
              v-model="form.address"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="address"
              placeholder="Address"
              :message="errors.first('address')"
            />

            <base-input
              key="city-input"
              v-model="form.city"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="city"
              placeholder="City"
              :message="errors.first('city')"
            />

            <base-select
              key="gender-input"
              v-model="form.gender"
              v-validate="'required'"
              :custom-classes="['border border-b border-gray-300']"
              name="genderList"
              placeholder="Gender"
              :message="errors.first('gender')"
            >
              <option
                v-for="gender in genderList"
                :key="gender.id"
                :value="gender.id"
              >
                {{ gender.value }}
              </option>
            </base-select>
            <div class="flex items-start w-full">
              <base-select
                key="state-input"
                v-model="form.state"
                v-validate="'required'"
                :custom-classes="['border border-b border-gray-300']"
                name="state"
                class="w-3/5"
                placeholder="State"
                :message="errors.first('state')"
              >
                <option
                  v-for="state in states"
                  :key="state.value"
                  :value="state.value"
                >
                  {{ state.label }}
                </option>
              </base-select>
              <base-input
                key="zip-input"
                v-model="form.zip"
                v-validate="'required|integer|max:5'"
                v-mask="'#####'"
                :custom-classes="['border border-b border-gray-300']"
                name="zip"
                class="w-2/5 ml-4"
                placeholder="Zip"
                :message="errors.first('zip')"
              />
            </div>

            <base-button
              type="button"
              expanded
              @click="updateUserProfile()"
            >
              Save
            </base-button>
          </form>
        </div>
      </div>
    </div>

    <!-- Credits -->
    <div
      v-else-if="tabSelected === 'credits'"
      class="flex flex-col w-full items-center mt-4"
    >
      <p class="text-3xl font-bold pb-5">
        Credits
      </p>

      <div class="w-4/12">
        <base-button-white
          type="submit"
          expanded
          class="bg-white text-purple "
          @click="openModalCredit()"
        >
          <div class="flex flex-wrap">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22.857"
              height="22.857"
            >
              <defs>
                <linearGradient
                  id="a"
                  x1="-.186"
                  y1="-.186"
                  x2="1.179"
                  y2="1.179"
                  gradientUnits="objectBoundingBox"
                >
                  <stop
                    offset="0"
                    stop-color="#4d2545"
                  />
                  <stop
                    offset="1"
                    stop-color="#782541"
                  />
                </linearGradient>
              </defs>
              <g data-name="Grupo 2219">
                <g data-name="Grupo 60">
                  <g data-name="Grupo 59">
                    <g data-name="Grupo 58">
                      <path
                        data-name="Trazado 31"
                        d="M11.609 9.822L17.532 3.9a1.264 1.264 0 00-1.787-1.787L9.822 8.035 3.9 2.112A1.264 1.264 0 002.112 3.9l5.923 5.922-5.923 5.923A1.268 1.268 0 003 17.907a1.2 1.2 0 00.885-.374l5.94-5.923 5.923 5.923a1.266 1.266 0 00.885.374 1.2 1.2 0 00.885-.374 1.263 1.263 0 000-1.787z"
                        transform="rotate(45 8.689 12.565)"
                        fill="url(#a)"
                      />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <label
              class="mx-auto"
              for=""
            >Add new Credit</label>
          </div>
        </base-button-white>
      </div>

      <div class="relative w-2/5 pb-4">
        <div
          v-for="credit in creditList"
          :key="credit.id"
          class="flex w-full overflow-hidden"
        >
          <div class="flex items-center w-full p-4 border-b border-gray-300">
            <div>
              <span class="text-2xl truncate font-bold">
                {{ credit.name }}
              </span>
              <br>
              <span class="text-base truncate">
                {{ credit.month }} {{ credit.year }}
              </span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17.273"
              height="23.05"
              viewBox="0 0 17.273 23.05"
              class="ml-auto cursor-pointer"
              @click="showDeleteCredit(credit)"
            >
              <path
                id="Path_3047"
                data-name="Path 3047"
                d="M-153.277,245.911a.551.551,0,0,0-.563.52l-.5,13.863a.823.823,0,0,1-.823.823h-9.531a.828.828,0,0,1-.823-.845l-.5-13.841a.537.537,0,0,0-.563-.52.524.524,0,0,0-.52.563l.5,13.82a1.909,1.909,0,0,0,1.906,1.906h9.531a1.909,1.909,0,0,0,1.906-1.906l.5-13.842A.518.518,0,0,0-153.277,245.911Zm1.318-3.278h-3.834v-2.541a.536.536,0,0,0-.542-.542h-7.04a.536.536,0,0,0-.542.542v2.541h-3.834a.536.536,0,0,0-.542.542.536.536,0,0,0,.542.542h15.791a.536.536,0,0,0,.542-.542A.55.55,0,0,0-151.958,242.632Zm-4.917,0h-5.957v-2h5.957Z"
                transform="translate(168.49 -239.35)"
                fill="#4d2545"
                stroke="#4d2545"
                stroke-width="0.4"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <!-- Education -->
    <div
      v-else-if="tabSelected === 'education'"
      class="flex flex-col w-full items-center mt-4"
    >
      <p class="text-3xl font-bold pb-5">
        Education & Training
      </p>

      <div class="w-4/12">
        <base-button-white
          type="submit"
          expanded
          class="bg-white text-purple "
          @click="openModalEducation()"
        >
          <div class="flex flex-wrap">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22.857"
              height="22.857"
            >
              <defs>
                <linearGradient
                  id="a"
                  x1="-.186"
                  y1="-.186"
                  x2="1.179"
                  y2="1.179"
                  gradientUnits="objectBoundingBox"
                >
                  <stop
                    offset="0"
                    stop-color="#4d2545"
                  />
                  <stop
                    offset="1"
                    stop-color="#782541"
                  />
                </linearGradient>
              </defs>
              <g data-name="Grupo 2219">
                <g data-name="Grupo 60">
                  <g data-name="Grupo 59">
                    <g data-name="Grupo 58">
                      <path
                        data-name="Trazado 31"
                        d="M11.609 9.822L17.532 3.9a1.264 1.264 0 00-1.787-1.787L9.822 8.035 3.9 2.112A1.264 1.264 0 002.112 3.9l5.923 5.922-5.923 5.923A1.268 1.268 0 003 17.907a1.2 1.2 0 00.885-.374l5.94-5.923 5.923 5.923a1.266 1.266 0 00.885.374 1.2 1.2 0 00.885-.374 1.263 1.263 0 000-1.787z"
                        transform="rotate(45 8.689 12.565)"
                        fill="url(#a)"
                      />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <label
              class="mx-auto"
              for=""
            >Add new Education</label>
          </div>
        </base-button-white>
      </div>
      <div class="relative w-2/5 pb-4">
        <div
          v-for="education in educationList"
          :key="education.id"
          class="flex w-full overflow-hidden"
        >
          <div class="flex items-center w-full p-4 border-b border-gray-300">
            <div>
              <span class="text-2xl truncate font-bold">{{ education.degree }}</span>
              <br>
              <span class="text-base truncate">{{ education.school }} {{ education.year }}</span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17.273"
              height="23.05"
              viewBox="0 0 17.273 23.05"
              class="ml-auto cursor-pointer"
              @click="showDeleteEducation(education)"
            >
              <path
                id="Path_3047"
                data-name="Path 3047"
                d="M-153.277,245.911a.551.551,0,0,0-.563.52l-.5,13.863a.823.823,0,0,1-.823.823h-9.531a.828.828,0,0,1-.823-.845l-.5-13.841a.537.537,0,0,0-.563-.52.524.524,0,0,0-.52.563l.5,13.82a1.909,1.909,0,0,0,1.906,1.906h9.531a1.909,1.909,0,0,0,1.906-1.906l.5-13.842A.518.518,0,0,0-153.277,245.911Zm1.318-3.278h-3.834v-2.541a.536.536,0,0,0-.542-.542h-7.04a.536.536,0,0,0-.542.542v2.541h-3.834a.536.536,0,0,0-.542.542.536.536,0,0,0,.542.542h15.791a.536.536,0,0,0,.542-.542A.55.55,0,0,0-151.958,242.632Zm-4.917,0h-5.957v-2h5.957Z"
                transform="translate(168.49 -239.35)"
                fill="#4d2545"
                stroke="#4d2545"
                stroke-width="0.4"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <!-- Union -->
    <div
      v-else-if="tabSelected === 'union'"
      class="flex flex-col w-full items-center mt-4"
    >
      <div class="relative w-2/5 pb-4">
        <div
          v-for="union in unionMembers"
          :key="union.name"
          class="flex w-full overflow-hidden cursor-pointer"
          @click="updateUnionMember(union)"
        >
          <div class="w-full flex items-center p-4 border-b border-gray-300">
            <div class="w-10/12">
              <span class="text-2xl truncate font-bold">{{ union.name }}</span>
            </div>

            <div class="w-1/12">
              <svg
                v-if="union.active"
                xmlns="http://www.w3.org/2000/svg"
                width="26.008"
                height="18.258"
              >
                <g data-name="Grupo 47">
                  <path
                    d="M8.572 17.455a1.532 1.532 0 002.183 0l14.4-14.44A1.532 1.532 0 0023.01.832L9.647 14.199l-6.55-6.55A1.544 1.544 0 10.914 9.832z"
                    fill="#4d2545"
                    stroke="#4d2545"
                    stroke-width=".69"
                    data-name="Layer 1"
                  />
                </g>
              </svg>
              <svg
                v-if="!union.active"
                xmlns="http://www.w3.org/2000/svg"
                width="26.008"
                height="18.258"
              >
                <g data-name="Grupo 47">
                  <path
                    d="M8.572 17.455a1.532 1.532 0 002.183 0l14.4-14.44A1.532 1.532 0 0023.01.832L9.647 14.199l-6.55-6.55A1.544 1.544 0 10.914 9.832z"
                    fill="#e0e6e6"
                    stroke="#e0e6e6"
                    stroke-width=".69"
                    data-name="Layer 1"
                  />
                </g>
              </svg>
            </div>
          </div>
        </div>

        <BaseButton
          class="mt-8"
          :disabled="isLoading"
          expanded
          @click="saveMembers"
        >
          Save
        </BaseButton>
      </div>
    </div>

    <!-- Skill -->
    <div
      v-else-if="tabSelected === 'skill'"
      class="flex flex-col w-full items-center mt-4"
    >
      <p class="text-3xl font-bold pb-5">
        Skills
      </p>
      <div class="relative w-2/5 pb-4">
        <base-button-white
          type="submit"
          expanded
          class="bg-white text-purple "
          @click="catalogodeSkills()"
        >
          <div class="flex flex-wrap">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22.857"
              height="22.857"
            >
              <defs>
                <linearGradient
                  id="a"
                  x1="-.186"
                  y1="-.186"
                  x2="1.179"
                  y2="1.179"
                  gradientUnits="objectBoundingBox"
                >
                  <stop
                    offset="0"
                    stop-color="#4d2545"
                  />
                  <stop
                    offset="1"
                    stop-color="#782541"
                  />
                </linearGradient>
              </defs>
              <g data-name="Grupo 2219">
                <g data-name="Grupo 60">
                  <g data-name="Grupo 59">
                    <g data-name="Grupo 58">
                      <path
                        data-name="Trazado 31"
                        d="M11.609 9.822L17.532 3.9a1.264 1.264 0 00-1.787-1.787L9.822 8.035 3.9 2.112A1.264 1.264 0 002.112 3.9l5.923 5.922-5.923 5.923A1.268 1.268 0 003 17.907a1.2 1.2 0 00.885-.374l5.94-5.923 5.923 5.923a1.266 1.266 0 00.885.374 1.2 1.2 0 00.885-.374 1.263 1.263 0 000-1.787z"
                        transform="rotate(45 8.689 12.565)"
                        fill="url(#a)"
                      />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <label
              class="mx-auto"
              for=""
            >Add new Skill</label>
          </div>
        </base-button-white>
        <div
          v-for="skill in skillsList"
          :key="skill.id"
          class="flex w-full overflow-hidden"
        >
          <div class="flex items-center w-full p-4 border-b border-gray-300">
            <span class="text-2xl truncate">{{ skill.name }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17.273"
              height="23.05"
              viewBox="0 0 17.273 23.05"
              class="ml-auto cursor-pointer"
              @click="showDeleteSkill(skill)"
            >
              <path
                id="Path_3047"
                data-name="Path 3047"
                d="M-153.277,245.911a.551.551,0,0,0-.563.52l-.5,13.863a.823.823,0,0,1-.823.823h-9.531a.828.828,0,0,1-.823-.845l-.5-13.841a.537.537,0,0,0-.563-.52.524.524,0,0,0-.52.563l.5,13.82a1.909,1.909,0,0,0,1.906,1.906h9.531a1.909,1.909,0,0,0,1.906-1.906l.5-13.842A.518.518,0,0,0-153.277,245.911Zm1.318-3.278h-3.834v-2.541a.536.536,0,0,0-.542-.542h-7.04a.536.536,0,0,0-.542.542v2.541h-3.834a.536.536,0,0,0-.542.542.536.536,0,0,0,.542.542h15.791a.536.536,0,0,0,.542-.542A.55.55,0,0,0-151.958,242.632Zm-4.917,0h-5.957v-2h5.957Z"
                transform="translate(168.49 -239.35)"
                fill="#4d2545"
                stroke="#4d2545"
                stroke-width="0.4"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <!-- Representation -->
    <div
      v-else-if="tabSelected === 'representation'"
      class="flex flex-col w-full items-center mt-4"
    >
      <p class="text-3xl font-bold pb-5">
        Profile
      </p>
      <div class="relative w-1/2 ">
        <div class="w-full overflow-hidden mb-3">
          <form
            class="w-full mx-auto max-w-xs"
            @submit.prevent=""
          >
            <div class="flex flex-wrap w-full">
              <div class="w-1/2 text-center">
                <label for="">
                  <input
                    id="manager"
                    v-model="formRepresentation.type"
                    type="radio"
                    value="manager"
                    name="manager"
                  >Manager
                </label>
              </div>

              <div class="w-1/2 text-center">
                <label for="">
                  <input
                    id="agent"
                    v-model="formRepresentation.type"
                    type="radio"
                    value="agent"
                    name="agent"
                  >Agent
                </label>
              </div>
            </div>

            <base-input
              v-model="formRepresentation.name"
              v-validate="'required|max:255'"
              :disabled="!validated"
              :custom-classes="['border border-b border-gray-300']"
              name="name"
              placeholder="Name"
              :message="errors.first('name')"
              data-vv-as="Name"
            />

            <base-input
              v-model="formRepresentation.company"
              v-validate="'required|max:255'"
              :disabled="!validated"
              :custom-classes="['border border-b border-gray-300']"
              name="companyname"
              placeholder="Company Name"
              :message="errors.first('companyname')"
              data-vv-as="Company Name"
            />

            <base-input
              v-model="formRepresentation.email"
              v-validate="'required|email'"
              :disabled="!validated"
              :custom-classes="['border border-b border-gray-300']"
              name="email"
              placeholder="Email"
              :message="errors.first('email')"
            />

            <div class="w-full text-center">
              <label for="">
                <input
                  id="notifications"
                  v-model="formRepresentation.notifications"
                  type="checkbox"
                  class="notifications"
                  name="notifications"
                >Allow requested auditions to be sent via email
              </label>
            </div>
            <base-button
              v-if="!validated"
              type="submit"
              expanded
              @click="validated = true"
            >
              Edit
            </base-button>
            <base-button
              v-if=" validated"
              type="button"
              expanded
              @click="updateManager()"
            >
              Save
            </base-button>
          </form>
        </div>
      </div>
    </div>

    <!-- Apperance -->
    <div
      v-else-if="tabSelected === 'apperance'"
      class="flex flex-col w-full items-center mt-4"
    >
      <p class="text-3xl font-bold pb-5">
        Apperance
      </p>
      <div class="relative w-2/5 pb-4">
        <div class="w-full overflow-hidden mb-3">
          <div class="flex flex-wrap w-full p-4  border-b  border-gray-300">
            <div class="w-8/12">
              <span class="text-lg truncate mb-3 font-bold">Height</span>
            </div>

            <div class="w-4/12 overflow-auto">
              <span class="text-base truncate mb-3">{{ apperanceList.height }}</span>
            </div>
          </div>

          <div class="flex flex-wrap w-full p-4  border-b  border-gray-300">
            <div class="w-8/12">
              <span class="text-lg truncate mb-3 font-bold">Weight</span>
            </div>
            <div class="w-4/12 overflow-auto">
              <span class="text-base truncate mb-3">{{ apperanceList.weight }}</span>
            </div>
          </div>

          <div class="flex flex-wrap w-full p-4  border-b  border-gray-300">
            <div class="w-8/12">
              <span class="text-lg truncate mb-3 font-bold">Hair Color</span>
            </div>
            <div class="w-4/12 overflow-auto">
              <span class="text-base truncate mb-3">{{ apperanceList.hair }}</span>
            </div>
          </div>

          <div class="flex flex-wrap w-full p-4  border-b  border-gray-300">
            <div class="w-8/12">
              <span class="text-lg truncate mb-3 font-bold">Eye Color</span>
            </div>
            <div class="w-4/12 overflow-auto">
              <span class="text-base truncate mb-3">{{ apperanceList.eyes }}</span>
            </div>
          </div>

          <div class="flex flex-wrap w-full p-4  border-b  border-gray-300">
            <div class="w-8/12">
              <span class="text-lg truncate mb-3 font-bold">Race</span>
            </div>
            <div class="w-4/12 overflow-auto">
              <span class="text-base truncate mb-3">{{ apperanceList.race }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <modal
      class="flex flex-col w-full items-center"
      :width="540"
      height="auto"
      name="modal_credit"
      scrollable
    >
      <div>
        <div class="w-full overflow-hidden my-6">
          <p class="text-lg text-purple font-bold text-center">
            Add new Credit
          </p>
          <form
            class="w-1/2 mx-auto"
            @submit.prevent="saveCredit()"
          >
            <base-select
              v-model="formCredit.type"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300 shadow-none']"
              name="type"
              placeholder="Type"
              :message="errors.first('type')"
              data-vv-as="Type"
            >
              <option value="THEATER">
                THEATER
              </option>
              <option value="FILM">
                FILM
              </option>
              <option value="TV & VIDEO">
                TV & VIDEO
              </option>
              <option value="COMMERCIALS">
                COMMERCIALS
              </option>
              <option value="MODELING">
                MODELING
              </option>
              <option value="PERFORMER ARTS">
                PERFORMER ARTS
              </option>
              <option value="VOICEOVER">
                VOICEOVER
              </option>
            </base-select>

            <base-input
              v-model="formCredit.rol"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="rol"
              placeholder="Role"
              :message="errors.first('rol')"
              data-vv-as="Rol"
            />

            <base-input
              v-model="formCredit.name"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="name"
              placeholder="Project Name"
              :message="errors.first('name')"
              data-vv-as="Name"
            />

            <base-input
              v-model="formCredit.production"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="production"
              placeholder="Director/Production Company"
              :message="errors.first('production')"
              data-vv-as="Production"
            />

            <base-select
              key="month-input"
              v-model="formCredit.month"
              v-validate="'required'"
              :custom-classes="['border border-b border-gray-300 shadow-none']"
              name="monthList"
              placeholder="Months"
              :message="errors.first('monthList')"
            >
              <option
                v-for="meses in mesesList"
                :key="meses.value"
                :value="meses.value"
              >
                {{ meses.value }}
              </option>
            </base-select>

            <base-input
              v-model="formCredit.year"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="year"
              placeholder="Year"
              :message="errors.first('year')"
              :disabled="!formCredit.month"
              data-vv-as="Year"
            />

            <base-button
              type="submit"
              expanded
            >
              Save
            </base-button>
          </form>
        </div>
      </div>
    </modal>

    <modal
      class="flex flex-col w-full items-center"
      :width="540"
      height="auto"
      name="modal_education"
    >
      <div class="my-6">
        <p class="text-lg text-purple font-bold text-center">
          Add new Education
        </p>
        <div class="w-full overflow-hidden mb-3">
          <form
            class="w-1/2 mx-auto"
            @submit.prevent="saveEducation()"
          >
            <base-input
              v-model="formEducation.school"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="school"
              placeholder="School"
              :message="errors.first('school')"
              data-vv-as="School"
            />

            <base-input
              v-model="formEducation.degree"
              v-validate="'required|max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="degree"
              placeholder="Degree/Course"
              :message="errors.first('degree')"
              data-vv-as="Degree"
            />

            <base-input
              v-model="formEducation.instructor"
              v-validate="'max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="instructor"
              placeholder="Instructor (optional)"
              :message="errors.first('instructor')"
              data-vv-as="Instructor"
            />

            <base-input
              v-model="formEducation.location"
              v-validate="'max:255'"
              :custom-classes="['border border-b border-gray-300']"
              name="location"
              placeholder="Location"
              :message="errors.first('location')"
              data-vv-as="Location"
            />

            <base-select
              key="gender-input"
              v-model="formEducation.year"
              v-validate="'required'"
              :custom-classes="['border border-b border-gray-300']"
              name="year"
              placeholder="Year"
              :message="errors.first('year')"
              data-vv-as="Year"
            >
              <option
                v-for="year in numberRange(1950, new Date().getFullYear() + 1)"
                :key="year"
                :value="year"
              >
                {{ year }}
              </option>
            </base-select>

            <base-button
              type="submit"
              expanded
            >
              Save
            </base-button>
          </form>
        </div>
      </div>
    </modal>

    <modal
      class="flex flex-col w-full items-center"
      :width="540"
      height="auto"
      name="modal_confirm_delete"
    >
      <div class="pt-8 px-3">
        <p class="text-lg text-purple font-bold text-center">
          ¿Do you want delete this {{ modalDelete.title }}?
        </p>
        <div class="w-full flex flex-wrap overflow-hidden mb-3">
          <div class="w-1/2 p-2">
            <base-button
              type="submit"
              expanded
              @click="modalDelete.action"
            >
              Delete
            </base-button>
          </div>

          <div class="w-1/2 p-2">
            <base-button-white
              class="w-1/2 shadow-lg"
              type="button"
              expanded
              @click="$modal.hide('modal_confirm_delete')"
            >
              Close
            </base-button-white>
          </div>
        </div>
      </div>
    </modal>

    <modal
      class="flex flex-col w-full items-center"
      :width="540"
      height="auto"
      name="modal_skills"
    >
      <div class="py-5 px-3 my-6">
        <p class="text-lg text-purple font-bold text-center">
          Add new Skill
        </p>
        <div class="w-full overflow-hidden mb-3">
          <form
            class="w-1/2 mx-auto"
            @submit.prevent="saveNewSkill()"
          >
            <base-select
              key="gender-input"
              v-model="formSkill.skills_id"
              v-validate="'required'"
              :custom-classes="['border border-b border-gray-300']"
              name="catalogoSkill"
              placeholder="Skill"
              :message="errors.first('catalogoSkill')"
            >
              <option
                v-for="skill in catalogoSkillsList"
                :key="skill.id"
                :value="skill.id"
              >
                {{ skill.name }}
              </option>
            </base-select>

            <base-button
              type="submit"
              expanded
            >
              Save
            </base-button>
          </form>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import {
  mapActions,
} from 'vuex';
import states from '@/utils/states';
import TokenService from '../services/core/TokenService';

const $ = require('jquery');

window.$ = $;
export default {
  data() {
    return {
      tabSelected: 'info',
      form: {},
      formRepresentation: {},
      formSkill: {},
      formCredit: {},
      formEducation: {},
      validated: false,
      unionMembers: [{
        name: 'None',
        active: false,
      },
      {
        name: 'SAG-AFTRA',
        active: false,
      },
      {
        name: 'Equity (U.S.)',
        active: false,
      },
      {
        name: 'Equity (U.K.)',
        active: false,
      },
      {
        name: 'Equity (Canada)',
        active: false,
      },
      {
        name: 'Equity (Ireland)',
        active: false,
      },
      {
        name: 'ACTRA',
        active: false,
      },
      {
        name: 'AFM',
        active: false,
      },
      {
        name: 'AGMA',
        active: false,
      },
      {
        name: 'AGVA',
        active: false,
      },
      {
        name: 'BECTU',
        active: false,
      },
      ],
      genderList: [{
        id: 'male',
        value: 'Male',
      }, {
        id: 'female',
        value: 'Female',
      }, {
        id: 'other',
        value: 'Other',
      }],
      mesesList: [{
        value: 'January',
      }, {
        value: 'February',
      }, {
        value: 'March',
      }, {
        value: 'April',
      }, {
        value: 'May',
      }, {
        value: 'June',
      }, {
        value: 'July',
      }, {
        value: 'Agust',
      }, {
        value: 'September',
      }, {
        value: 'October',
      }, {
        value: 'November',
      }, {
        value: 'December',
      }],
      states,
      videoList: [],
      creditList: [],
      educationList: [],
      unionMenbershipList: [],
      skillsList: [],
      managerList: [],
      apperanceList: [],
      catalogoSkills: [],
      catalogoSkillsList: [],
      isLoading: false,
      modalDelete: {
        title: null,
        action: null,
      },
    };
  },

  created() {
    this.getInfo();
  },

  methods: {
    ...mapActions('profile', ['update']),

    numberRange(start, end) {
      return new Array(end - start).fill().map((d, i) => i + start).reverse();
    },
    updateUnionMember(union) {
      const currentActive = union.active;

      if (union.name === 'None') {
        this.unionMembers.forEach((u) => {
          // eslint-disable-next-line no-param-reassign
          u.active = false;
        });
      } else {
        this.unionMembers.find(u => u.name === 'None').active = false;
      }

      // eslint-disable-next-line no-param-reassign
      union.active = !currentActive;
    },
    async getInfo() {
      try {
        const url = `a/users/show/${TokenService.getUserId()}`;
        const {
          data: {
            data,
          },
        } = await axios.get(url);

        // Parse date
        const parts = data.details.birth.split('-');
        data.details.birth = new Date(parts[0], parts[1] - 1, parts[2]);
        data.details.image = data.image.url;

        this.form = data.details;
        this.form.email = data.email;
      } catch (ex) {
        console.log(ex);
      }
    },

    async getCredits() {
      try {
        const url = 'a/credits/show';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.creditList = data;
      } catch (ex) {
        this.creditList = [];
      }
    },

    async getEducation() {
      try {
        const url = 'a/educations/show';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.educationList = data;
      } catch (ex) {
        this.educationList = [];
      }
    },

    async getUnionMembership() {
      try {
        const url = 'a/users/union/list';
        const {
          data: {
            data,
          },
        } = await axios.get(url);

        this.unionMembers.forEach((union) => {
          const added = data.some(u => u.name === union.name);
          // eslint-disable-next-line no-param-reassign
          union.active = added;
        });
      } catch (ex) {
        //
      }
    },

    async getSkills() {
      try {
        const url = 'a/skills/byuser';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.skillsList = data;
      } catch (ex) {
        this.skillsList = [];
      }
    },

    async getRepresentation() {
      try {
        const url = 'a/managers/byuser';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.formRepresentation = data;
        console.log(this.formRepresentation);
      } catch (ex) {
        console.log(ex);
      }
    },

    async saveMembers() {
      try {
        this.isLoading = true;

        await axios.put('/a/users/union/update', {
          data: this.unionMembers.filter(u => u.active),
        });

        this.$toasted.show('Union Memberships updated successfully.');

        await this.getUnionMembership();
      } catch (e) {
        //
      } finally {
        this.isLoading = false;
      }
    },

    async updateManager() {
      try {
        const url = `a/managers/update/${this.formRepresentation.id}`;
        const {
          data: {
            data,
          },
        } = await axios.put(url, this.formRepresentation);
        this.$toasted.show('Manager updated successfully.');
      } catch (ex) {
        this.$toasted.error(ex);
        console.log(ex);
      }
      this.getRepresentation();
      this.validated = false;
    },

    async getApperance() {
      try {
        const url = 'a/aparences/byuser';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.apperanceList = data;
        console.log(this.apperanceList);
      } catch (ex) {
        console.log(ex);
      }
    },

    async catalogodeSkills() {
      this.$modal.show('modal_skills');
      try {
        const url = 'skills/show';
        const {
          data: {
            data,
          },
        } = await axios.get(url);
        this.catalogoSkillsList = data;
      } catch (ex) {
        console.log(ex);
      }
    },

    async saveNewSkill() {
      try {
        if (!await this.$validator.validateAll()) {
          return;
        }

        const url = 'a/skills/add';
        const {
          data: {
            data,
          },
        } = await axios.post(url, this.formSkill);

        this.formSkill = {};
        this.$toasted.show('Skill created successfully.');
      } catch (ex) {
        this.$toasted.error(ex);
        console.log(ex);
      }
      this.$modal.hide('modal_skills');
      this.getSkills();
    },

    openModalCredit() {
      this.$modal.show('modal_credit');
    },

    async saveCredit() {
      try {
        if (!await this.$validator.validateAll()) {
          return;
        }

        const url = 'a/credits/create';
        const {
          data: {
            data,
          },
        } = await axios.post(url, this.formCredit);

        this.formCredit = {};
        this.$toasted.show('Credit created successfully.');
      } catch (ex) {
        this.$toasted.error(ex);
        console.log(ex);
      }
      this.$modal.hide('modal_credit');
      this.getCredits();
    },

    showDeleteCredit(credit) {
      this.modalDelete = {
        title: 'credit',
        action: () => this.deleteCredit(credit),
      };
      this.$modal.show('modal_confirm_delete');
    },

    async deleteCredit(credit) {
      try {
        await axios.delete(`a/credits/delete/${credit.id}`);
        this.$toasted.show('Credit deleted successfully.');
      } catch (ex) {
        this.$toasted.error(ex);
      } finally {
        this.$modal.hide('modal_confirm_delete');
        this.getCredits();
      }
    },

    openModalEducation() {
      this.$modal.show('modal_education');
    },

    async saveEducation() {
      try {
        if (!await this.$validator.validateAll()) {
          return;
        }

        const url = 'a/educations/create';
        const {
          data: {
            data,
          },
        } = await axios.post(url, this.formEducation);

        this.formEducation = {};
        this.$toasted.show('Education created successfully.');
      } catch (ex) {
        this.$toasted.error(ex);
        console.log(ex);
      }
      this.$modal.hide('modal_education');
      this.getEducation();
    },

    showDeleteEducation(education) {
      this.modalDelete = {
        title: 'education',
        action: () => this.deleteEducation(education),
      };
      this.$modal.show('modal_confirm_delete');
    },

    async deleteEducation(education) {
      try {
        await axios.delete(`a/educations/delete/${education.id}`);
        this.$toasted.show('Education deleted successfully.');
      } catch (ex) {
        this.$toasted.error(ex);
      } finally {
        this.$modal.hide('modal_confirm_delete');
        this.getEducation();
      }
    },

    showDeleteSkill(skill) {
      this.modalDelete = {
        title: 'skill',
        action: () => this.deleteSkill(skill),
      };
      this.$modal.show('modal_confirm_delete');
    },

    async deleteSkill(skill) {
      try {
        await axios.delete(`a/skills/delete/${skill.id}`);
        this.$toasted.show('Skill deleted successfully.');
      } catch (ex) {
        this.$toasted.error(ex);
      } finally {
        this.$modal.hide('modal_confirm_delete');
        this.getSkills();
      }
    },

    async updateUserProfile() {
      try {
        await this.update(this.form);
        this.$toasted.show('User Profile updated successfully.');
      } catch (ex) {
        this.$toasted.error(ex);
        console.log(ex);
      }
    },

  },

};
</script>

<style>
@media (min-width: 1280px) {
    .container {
        max-width: 1450px;
    }
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 16px;
    max-height: 48px;
}
</style>
