<!-- eslint-disable vue/no-v-html -->
<template>
  <div class="flex justify-center">
    <div
      v-if="post"
      class="flex flex-col w-full max-w-3xl mt-8"
    >
      <div class="flex items-center w-full">
        <img
          class="rounded-full w-10 h-10"
          :src="post.avatar"
          alt="Avatar"
        >

        <span class="font-medium mx-4">{{ post.name }}</span>

        <span class="text-gray-400 ml-auto">
          {{ post.time_ago }}
        </span>
      </div>

      <p class="text-2xl mt-6 mb-1">
        {{ post.title }}
      </p>

      <p class="text-gray-600">
        {{ post.body }}
      </p>

      <div class="flex my-4">
        <input
          v-model="commentText"
          class="flex-1 text-purple w-48 outline-none"
          type="text"
          placeholder="Comment"
        >
        <div
          class="flex ml-4 items-center text-purple cursor-pointer select-none"
          @click="addComment"
        >
          <svg
            class="mx-2"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 37.889 37.889"
          >
            <path
              id="Path_31"
              data-name="Path 31"
              d="M16.356,13.394l9.818-9.818A2.095,2.095,0,0,0,23.212.614l-9.818,9.818L3.576.614A2.095,2.095,0,0,0,.614,3.576l9.818,9.818L.614,23.212a2.1,2.1,0,0,0,1.467,3.583,1.985,1.985,0,0,0,1.467-.621l9.846-9.818,9.818,9.818a2.1,2.1,0,0,0,1.467.621,1.985,1.985,0,0,0,1.467-.621,2.094,2.094,0,0,0,0-2.962Z"
              transform="translate(18.947) rotate(45)"
              fill="#4D2545"
            />
          </svg>
          Add comment
        </div>
      </div>

      <div class="flex flex-col">
        <div
          v-for="comment in comments"
          :key="comment.id"
          class="border-b border-gray-400 py-5 last:border-b-0"
        >
          <div class="flex items-center w-full">
            <img
              class="rounded-full w-10 h-10"
              :src="comment.avatar"
              alt="Avatar"
            >

            <span class="font-medium mx-4">{{ comment.name }}</span>

            <span class="text-gray-400 ml-auto">
              {{ comment.time_ago }}
            </span>
          </div>

          <p class="mt-4 text-gray-600">
            {{ comment.body }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      post: null,
      isLoading: false,
      commentText: '',
      comments: [],
    };
  },
  async created() {
    if (this.$route.params.post) {
      this.post = this.$route.params.post;

      await this.loadComments();
    } else {
      this.$router.replace({ name: 'forum' });
    }
  },
  methods: {
    async loadComments() {
      const { data: { data } } = await axios.get(`/a/forum/posts/${this.post.id}/comments`);
      this.comments = data.comments;
    },

    async addComment() {
      try {
        if (this.isLoading) {
          return;
        }

        if (!this.commentText) {
          this.$toasted.error('The field comment is required.');
          return;
        }

        this.isLoading = true;

        await axios.post(`/a/forum/posts/${this.post.id}/comments`, {
          body: this.commentText,
        });

        await this.loadComments();

        this.commentText = '';
      } catch (error) {
        //
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>
