<template>
  <button
    class="text-purple font-bold border border-gray-300 overflow-hidden my-4"
    :class="[borderClasses, { 'w-full': expanded }, small ? 'p-1' : 'p-3 text-lg' ]"
    v-bind="$attrs"
    :type="type"
    @click="$emit('click', $event)"
  >
    <slot />
  </button>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    expanded: Boolean,
    small: Boolean,
    borderClasses: {
      type: String,
      default: 'rounded-full shadow-lg',
    },
    type: {
      type: String,
      default: 'button',
      validator: value => [
        'button',
        'submit',
        'reset',
      ].indexOf(value) >= 0,
    },
  },
};
</script>

<style scoped>
button {
  background-image: white;
}

button:hover {
  background-image: white;
}

button:focus {
  outline: none;
}
</style>
