<!-- eslint-disable max-len -->
<template>
  <div class="relative text-purple">
    <div
      class="bg-white truncate rounded-full overflow-hidden w-full h-full my-2 py-3 px-6 cursor-pointer"
      :class="[...customClasses]"
      @click="boxVisible = true"
    >
      {{ selected.length ? selected.map(x => x[label]).join(', ') : placeholder }}
    </div>

    <div
      v-if="boxVisible"
      class="box absolute shadow-md flex flex-col items-center bg-white rounded-sm px-4 py-2"
    >
      <p class="text-sm mb-2">
        {{ placeholder }}
      </p>
      <div
        v-for="(item, index) in items"
        :key="index"
        class="flex items-center justify-between w-48 py-2 cursor-pointer"
        :class="{ 'border-b': index !== items.length - 1 }"
        @click="handleItemClick(item)"
      >
        <span class="flex-none">{{ item[label] }}</span>
        <svg
          class="flex-none"
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="18"
          viewBox="0 0 26.009 18.258"
        >
          <path
            id="Path"
            d="M19.925,35.839a1.532,1.532,0,0,0,2.183,0l14.4-14.44a1.532,1.532,0,0,0-2.145-2.183L21,32.583l-6.55-6.55a1.544,1.544,0,1,0-2.183,2.183Z"
            transform="translate(-11.352 -18.384)"
            :fill="isSelected(item) ? '#4D2545': '#e0e6e6'"
            stroke-width="0.69"
          />
        </svg>
      </div>

      <base-button
        expanded
        small
        @click="handleDone"
      >
        Done
      </base-button>
    </div>

    <p
      v-if="message"
      class="text-white ml-6 mb-2"
    >
      {{ message }}
    </p>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      default: () => [],
    },
    value: {
      type: Array,
      default: () => [],
    },
    placeholder: {
      type: String,
      default: null,
    },
    message: {
      type: String,
      default: null,
    },
    customClasses: {
      type: Array,
      default: () => [],
    },
    hasNoneOption: Boolean,
  },
  data() {
    return {
      selected: this.value,
      boxVisible: false,
    };
  },
  methods: {
    isSelected(item) {
      return !!this.selected.find(x => x[this.label] === item[this.label]);
    },

    handleItemClick(item) {
      const index = this.selected.findIndex(x => x[this.label] === item[this.label]);

      if (index !== -1) {
        this.selected.splice(index, 1);
      } else {
        this.selected.push(item);
      }

      if (this.hasNoneOption) {
        if (item[this.label] === 'None') {
          this.selected = this.selected.filter(x => x[this.label] === 'None');
        } else {
          const noneIndex = this.selected.findIndex(x => x[this.label] === 'None');
          if (noneIndex !== -1) {
            this.selected.splice(noneIndex, 1);
          }
        }
      }
    },

    handleDone() {
      this.boxVisible = false;
      this.$emit('input', this.selected);
    },
  },
};
</script>

<style scoped>
.box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
