<template>
  <nav class="flex items-center h-12">
    <input
      v-if="showSearch"
      v-model="searchaudition"
      type="text"
      class="w-1/4 mx-6 h-8 px-4 rounded-full outline-none"
      placeholder="Search"
      @keyup="lookingForAuditions()"
    >
    <div class="flex items-center border-l border-white text-white ml-auto cursor-pointer">
      <span class="mx-4">{{ user.details.first_name }} {{ user.details.last_name }}</span>
      <i class="material-icons mr-4">keyboard_arrow_down</i>
      <img
        :src="user.image.url"
        class="w-12 h-12 object-cover"
        alt="Avatar"
      >
    </div>
  </nav>
</template>

<style scoped>
nav {
  background-image: linear-gradient(#4d2545, #782541);
}
</style>

<script>
import {
  mapActions,
  mapState,
} from 'vuex';

export default {
  data() {
    return {
      searchaudition: '',
    };
  },
  computed: {
    ...mapState('profile', ['user']),

    showSearch() {
      return this.$route.name === 'auditions';
    },
  },
  methods: {
    ...mapActions('search', ['searchAuditions']),
    async lookingForAuditions() {
      await this.searchAuditions({
        query: this.searchaudition,
      });
    },
  },
};
</script>
