<!-- eslint-disable -->
<template>
<section class="flex flex-col items-center h-full w-1/5 text-purple">
    <img src="/images/logo-color.png" class="h-12" alt="Logo">
    <div class="flex-1 w-full mt-6">
        <sidebar-item :to="{ name: 'auditions' }" text="Auditions" icon="noise" />
        <sidebar-item :to="{ name: 'my.auditions' }" text="My Auditions" icon="microphone" />
        <sidebar-item :to="{ name: 'my.profile' }" text="My Profile" icon="people" />
        <sidebar-item :to="{ name: 'my.media' }" text="My Media" icon="media" />
        <sidebar-item :to="{ name: 'my.calendar' }" text="My Calendar" icon="calendar" />
        <sidebar-item :to="{ name: 'my.marketplace' }" text="Marketplace" icon="market" />
        <sidebar-item :to="{ name: 'my.notifications' }" text="Notifications" icon="bell" />
        <sidebar-item :to="{ name: 'forum' }" text="Support Forum" icon="message" />
        <sidebar-item :to="{ name: 'news-and-updates' }" text="News And Updates" icon="news" />
        <!-- <sidebar-item :to="{ name: 'my.settings' }" text="Notifications" icon="bell" /> -->
        <sidebar-item :to="{ name: 'my.settings' }" text="Settings" icon="fix" />
    </div>
    <sidebar-item text="Sign Out" icon="sign_out" @click.native="handleSignOut" />
</section>
</template>

<script>
import {
  mapActions,
} from 'vuex';

export default {
  methods: {
    ...mapActions('auth', ['logout']),
    handleSignOut() {
      this.logout();
      this.$router.replace('/');
    },
  },
};
</script>
